local
.settings
*.pyc
*.pyo
.project
.pydevproject
\#*
.\#*
.*.swp
*~
.*.sw*
TAGS
tags
*.iml
.ropeproject
*_flymake.py
*,cover
.coverage
coverage/
.~lock.*
.noseids
*.egg-info/
build/
dist/
*.log
*.log.*
.dir-locals.el
.idea/
node_modules/
*/less/*css
*/less/*/*css
.DS_Store
env/
tmp/
contents/static
contents/images
static/css
bower/
