{%- block footer -%}
<footer id="footer" class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <span class="section-title copyright-notice">&copy; {{env.helpers.currentYear()}} Balanced Inc.</span>
                <span class="footer-link"><a href="{{env.helpers.link('/privacy')}}">Privacy Policy</a></span>
                <span class="footer-link"><a href="{{env.helpers.link('/terms')}}">Terms of Use</a></span>
                <span class="footer-link"><a href="{{env.helpers.link('/terms/marketplaceagreement')}}">MP Agreement</a></span>
                <span class="footer-link"><a href="{{env.helpers.link('/terms/selleragreement')}}">Seller Agreement</a></span>
            </div>
            <div class="col-md-4 pull-right">
                <a href="https://twitter.com/balanced" target="_blank" class="icon"><i class="icon-twitter"></i></a>
                <a href="http://quora.com/balanced" target="_blank" class="icon"><i class="icon-quora"></i></a>
                <a href="https://github.com/balanced" target="_blank" class="icon"><i class="icon-github"></i></a>
            </div>
        </div>
    </div>
</footer>
{%- endblock -%}
