{% block footer %}
<footer id="footer" class="site-footer">
  <div class="container">
    <div class="row">
      <div class="span5">
        <div class="flogo">
          <a href="https://www.balancedpayments.com" target="_blank" class="img">Logo</a>
        </div>
        <span class="section-title copyright-notice">&copy; 2013 Balanced</span>
      </div>
      <div class="span11">
        <span class="footer-link"><a href="/privacy">Privacy Policy</a></span>
        <span class="footer-link"><a href="/terms">Terms of Use</a></span>
        <span class="footer-link"><a href="#">Marketplace Agreement</a></span>
        <span class="footer-link"><a href="#">Seller Agreement</a></span>
      </div>
      <div class="span3">
        <a href="https://twitter.com/balanced" target="_blank" class="icon"><i class="icon-twitter"></i></a>
        <a href="http://quora.com/balanced" target="_blank" class="icon"><i class="icon-quora"></i></a>
        <a href="https://github.com/balanced" target="_blank" class="icon"><i class="icon-github"></i></a>
      </div>
    </div>
  </div>
</footer>
<script>var _gaq=[['_setAccount','UA-30733850-1'],['_setDomainName','balancedpayments.com'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
{% endblock %}