{%- block header -%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=768, user-scalable=1">
    <title>{{ page.metadata.title if page.metadata.title else name }}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script type="text/javascript">var _pageStartTime=(new Date()).getTime()</script>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script type="text/javascript" src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <link href="//fonts.googleapis.com/css?family=Droid+Serif:400,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/root.css" type="text/css">
    {%- for stylesheet in stylesheets -%}
    <link rel="stylesheet" href="{{stylesheet}}" type="text/css">
    {%- endfor -%}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/nprogress/0.1.2/nprogress.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.7.0/jquery.pjax.min.js"></script>
    <script src="/static/js/balanced.min.js"></script>
    {%- for script in scripts -%}
    <script src="{{script}}"></script>
    {%- endfor -%}
</head>
{%- endblock -%}
