<div class="bg-default hidden-responsive">
    <div class="container">
        <div class="row">
            <header class="site-header">
                <div class="span19">
                    <div class="span6 no-margin-left">
                        <a href="/" class="logo"><img src="/images/homepage_logo-01-2x.png" alt="Balanced Logo" title="Balanced - Card processing, escrow, and payouts in one simple API"></a>
                    </div>
                    <div class="site-nav span12">
                        <div class="nav-menu-wrapper">
                            <div id="docs-menu">
                                <a href="https://docs.balancedpayments.com">Docs</a>
                            </div>
                            <div id="help-menu">
                                <a href="https://support.balancedpayments.com">Help</a>
                            </div>
                            <div id="login-menu">
                                <a href="https://dashboard.balancedpayments.com">Sign in</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>

<div class="bg-default visible-responsive">
    <div class="row">
        <header class="site-header">
            <div class="span6">
                <a href="/" class="logo"><img src="/images/homepage_logo-01-2x.png" alt="Balanced Logo" title="Balanced - Card processing, escrow, and payouts in one simple API"></a>
            </div>
            <div class="site-nav responsive-nav-menu-wrapper">
                <div id="mobile-menu"><a class="menu-link" href="#menu">&#9776; Menu</a></div>

                <nav id="menu" class="menu">
                    <ul>
                        <li class="has-submenu"><a href="#">PRODUCT</a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="https://support.balancedpayments.com/hc/en-us/articles/200136200">Card Processing</a>
                                </li>
                                <li>
                                    <a href="/ach-debits">ACH Debits</a>
                                </li>
                                <li>
                                    <a href="/payouts">Payouts</a>
                                </li>
                                <li>
                                    <a href="https://docs.balancedpayments.com/current/overview#funds-flow">Escrow</a>
                                </li>
                                <li>
                                    <a href="https://docs.balancedpayments.com/current/overview#holds">Authorization Holds</a>
                                </li>
                                <li>
                                    <a href="https://support.balancedpayments.com/hc/en-us/articles/200135940">International</a>
                                </li>
                                <li>
                                    <a href="https://support.balancedpayments.com/hc/en-us/articles/200135910">Chargebacks</a>
                                </li>
                                <li>
                                    <a href="https://support.balancedpayments.com/hc/en-us/categories/200005004">Security</a>
                                </li>
                                <li>
                                    <a href="https://support.balancedpayments.com/hc/en-us/articles/200173030">Compliance</a>
                                </li>
                                <li>
                                    <a href="https://support.balancedpayments.com/hc/en-us/categories/200004530">Signup Process</a>
                                </li>
                                <li>
                                    <a href="https://docs.balancedpayments.com/current/overview.html#funds-flow">Payments Flow</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/pricing">PRICING</a></li>
                        <li>
                            <a href="{{env.helpers.link('/customers')}}" data-pjax>CUSTOMERS</a>
                        </li>
                        <li class="has-submenu"><a href="#">ABOUT</a>
                            <ul class="sub-menu">
                                <li><a href="/about">About</a></li>
                                <li><a href="/open">Open Company</a></li>
                                <li><a href="http://blog.balancedpayments.com">Blog</a></li>
                            </ul>
                        </li>
                        <li><a href="https://support.balancedpayments.com">Help</a></li>
                        <li><a href="https://docs.balancedpayments.com">Docs</a></li>
                        <li><a href="https://dashboard.balancedpayments.com">Sign in</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</div>
