<div class="bg-default hidden-responsive">
	<div class="container">
		<nav class="site-header" role="navigation">
			<div class="header-menu">
				<a class="toggle-child-menu hamburger" data-show="sidebar-child-menu-left-product"><i class="icon icon-menu"></i></a>
				<a class="toggle-child-menu" data-show="sidebar-child-menu-left-product">Menu</a>
				<a href="https://docs.balancedpayments.com">API Docs</a>
				<a href="https://dashboard.balancedpayments.com/">Login</a>
			</div>
      {% if page.metadata.header_big_logo %}
        <div class="letterhead-logo">
          <a href="/" class="logo">
              <img src="/images/balanced-logo-print.png" alt="Balanced Logo" title="Balanced - Card processing, escrow, and payouts in one simple API">
          </a>
        </div>
      {% else %}
        <a href="/" class="logo">
          <img src="/images/logo_3dots.png" alt="Balanced Logo" title="Balanced - Card processing, escrow, and payouts in one simple API">
        </a>
      {% endif %}
		</nav>
	</div>
</div>

<div class="bg-default visible-responsive">
	<div class="row">
		<header class="site-header">
			<div class="span6">
        <a href="/" class="logo"><img src="/images/logo_3dots.png" alt="Balanced Logo" title="Balanced - Card processing, escrow, and payouts in one simple API"></a>
			</div>
			<div class="site-nav responsive-nav-menu-wrapper">
				<div id="mobile-menu"><a class="menu-link" href="#menu">&#9776; Menu</a></div>

				<nav id="menu" class="menu">
					{%- include 'partials/sidebar-menu.html' -%}
				</nav>
			</div>
		</header>
	</div>
</div>
