<div class="sidebar-menu-left">
  <div class="close-child-menu-left">
    <a>
      <i class="icon-navigation-close"></i>
    </a>
  </div>
  <ul>
    <li data-show="sidebar-child-menu-left-product">
      <a class="toggle-child-menu"><span class="arrow"></span> PRODUCT</a>
    </li>
    <li>
      <a href="/pricing">PRICING</a>
    </li>
    <li data-show="sidebar-child-menu-left-about">
      <a class="toggle-child-menu"><span class="arrow"></span> ABOUT</a>
    </li>
    <li class="try-dashboard">
      <a href="https://dashboard.balancedpayments.com/#/start">
        <i class="icon-dashboard"></i>
        TRY THE<br />DASHBOARD
      </a>
    </li>
  </ul>
</div>
