body.card-processing {
	.content-blue {
		background-color: @egyptianBlue60;

		.section-title {
			border-top: 1px solid @egyptianBlue100;
		}
	}
    section {
		.title-icon {
			background-position: -25px 8px;
		}

    }
}