@marketplace: @curryYellow60;
@crowdfunding: @turquoise60;
@ecommerce: @byzantiumPurple60;
@ad-network: @pineGreen60;
@case-study: @imperialRed100;

.customers {
  .video-testimonial-image {
    width: 100%;
    min-width: 660px;
    margin-top: -90px;
    background: url(/images/customers/750_background.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    padding: 15% 0 5% 0;
    height: 440px;

  }

  .banner {
    margin: 0 auto 160px;
    width: 660px;
    text-align: center;
  }

  .banner-video-thumbnail {
    float: left;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .banner-content {
    padding-top: 10px;

    img {
      height: 60px;
      margin: 10px auto;
    }

    > div {
      margin: 20px 25px 10px 10px;
    }

    .banner-content-text {
      span {
        font-family: 'Droid Serif';
        font-style: italic;
        font-size: 14px;
        line-height: 20px;
        color: @black;
      }

      a.watch-how {
        font-family: 'NimbusSanNovSemBol';
        font-style: normal;
        font-size: 13px;
        line-height: 15px;
        color: @skyBlue;
      }
    }
  }

  .thumb-container {
    text-align: center;

    > div {
      display: inline-block;
    }

    .thumb {
      float: left;
      cursor: pointer;
      width: 120px;

      &:hover, &.selected {
        .thumb-image {
          border: 3px solid #FFF;
        }
      }

      .thumb-image {
        .border-radius(50%);
        height: 50px;
        width: 50px;
        border: 3px solid transparent;
        text-indent: -4000px;
      }

      .thumb-label {
        margin-top: 14px;
        color: @white;
        line-height: 14px;
        font-size: 12px;
        font-style: italic;
        font-family: "Droid Serif";
      }
    }
  }


  .customer-wall-header {
    height: 50px;
    background: black;

    .nav {
      margin-right: 0;

      > li {
        > a {
          font-family: NimbusSanConD-Bol;
          font-weight: normal;
          font-style: normal;
          text-transform: uppercase;
          font-size: 14px;

          line-height: 16px;
          color: @gray;
          text-shadow: none;

          padding: 18px 4px 13px;
          margin: 0 6px 0;

          &:before {
            margin-right: 2px;
            vertical-align: text-top;
          }
        }

        &:hover, &.selected {
          > a {
            color: @white;
          }
        }

        &.selected {
          > a {
            border-bottom: 3px solid @white;
          }
        }
      }
    }

    .circle {
      a:before {
        content: ' \25CF';
        font-size: 24px;
      }
    }

    .square {
      a:before {
        content: ' \25A0';
        font-size: 26px;
      }
    }

    .marketplace {
      a:before {
        color: @marketplace;
      }
    }

    .crowdfunding {
      a:before {
        color: @crowdfunding;
      }
    }

    .ecommerce {
      a:before {
        color: @ecommerce;
      }
    }

    .ad-network {
      a:before {
        color: @ad-network;
      }
    }

    .case-study {
      a:before {
        color: @case-study;
      }
    }
  }

  .customer-wall {
    .span19 {
      width: 850px;
    }

    .card {
      width: 160px;
      height: 160px;
      margin: 10px 10px 0 0;
      float: left;

      perspective: 1000px;

      /* flip the pane when hovered */
      &:hover, &.hover {
        .flipper {
          transform: translateX(-100%) rotateY(-180deg);
          -webkit-transform: translateX(-100%) rotateY(-180deg);
          -ms-transform: translateX(-100%) rotateY(-180deg);
        }
      }

      /* flip speed goes here */
      .flipper {
        -webkit-transition: 0.6s;
        -webkit-transform-style: preserve-3d;
        -webkit-transform-origin: right center;
        -moz-transition: 0.6s;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 0.6s;
        transform-style: preserve-3d;
        transform-origin: right center;

        position: relative;
        height: 100%;
        width: 100%;
      }

      /* hide back of pane during swap */
      .front, .back {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }

      .card-content {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        height: 120px;
        width: 120px;
        padding: 20px;

        img {
          vertical-align: middle;
        }
      }



      /* front pane, placed above back */
      .front {
        z-index: 2;

        > .card-content  {
          .opacity(60);
        }
      }

      /* back, initially hidden pane */
      .back {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        background-color: @white;
      }
    }

    .marketplace {
      .front {
        background-color: @marketplace;
      }
    }

    .crowdfunding {
      .front {
        background-color: @crowdfunding;
      }
    }

    .ecommerce {
      .front {
        background-color: @ecommerce;
      }
    }

    .ad-network {
      .front {
        background-color: @ad-network;
      }
    }

    .case-study {
      .case-study-bar {
        background-color: @case-study;
        height: 30px;
        position: relative;
        color: @white;
        margin-top: -30px;
        width: 100%;

        font-family: NimbusSanConD-Bol;
        font-weight: normal;
        font-style: normal;
        text-transform: uppercase;
        font-size: 12px;

        line-height: 30px;
        text-indent: 10px;
      }

      .case-study-content {
        .opacity(90);
        background-color: @black;
        color: @white;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        padding: 10px;
      }
    }
  }
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

