@pageWidth: 1008px;
@listMargin: 16px;

.underline(@weight: 4px, @lineHeight: 1.3em) {
  border-bottom: @weight solid @lineRuleBackground;
  line-height: @lineHeight;
}

.letThemKnow() {
  text-align: center;
  padding: 20px 0;
  h1 {
    font-family: @baseFontFamilySemiBold;
    font-weight: normal;
    font-size: 20px;
    color: #000;
    display: inline;
    vertical-align: middle;
    padding-right: 20px;
  }
  .btn {
    border: 3px solid #000;
    background: white;
    border-radius: 0;
    vertical-align: middle;
    color: @black;
    text-decoration: none;
    height: auto;
    padding: 8px 16px;
    text-shadow: none;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-family: 'NimbusSanNovCon-Bol';
    font-weight: normal;
    &:hover {
      color: #fff;
      background-color: #000;
      border-color: #000;
    }
  }
}

body, html {
    background: @contentBackground;
    font-family: @baseFontFamily;
    font-size: 15px;
    line-height: 20px;

    .container {
        &.container-chunky {
            width: 1008px;
            margin-bottom: 10px;
        }
    }
}

a {
  color: #0096af;
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: none;
  }
}

h2 {
  font-family: @baseFontFamilySemiBold;
  font-size: 20px;
  font-weight: normal;
  color: #000;
  .underline(4px);
}

h3 {
  font-family: @baseFontFamilyReg;
  font-weight: normal;
  font-size: 32px;
  line-height: 38/32;
  color: #4d4d4d;
  padding-bottom: @mainMargin / 2;
}

h4 {
  font-family: @baseFontFamilySemiBold;
  font-size: 15px;
  font-weight: normal;
  color: #000;
  .underline(1px, 1em);
  padding-bottom: 0.75em;
  margin-bottom: 1em;
}

p {
  font-family: @baseFontFamily;
  font-size: 15px;
  line-height: 22px;

  a {
    font-size: 13px;
    line-height: 15px;
    font-family: @baseFontFamilySemiBold;
    display: inline-block;
  }
}

// gun -> head *bang*
.win.chrome {
  p {
    -webkit-text-stroke: 0.5px;
  }
}

footer {
  clear: both;
}

#heading {
  margin: 20px 0;

  img {
    width: 130px;
  }
}

#try-it {
  background-color: white;
  margin-bottom: @mainMargin;
  .letThemKnow();
}

#intro {
  background-color: white;
  margin-bottom: @mainMargin;
  h1 {
    display: none;
  }
  &>div {
    background: url(/images/homepage_whats_up_now-03.png) 51px 50px no-repeat;
    background-color: @curryYellow40;
    width: 100%;
    min-height: 200px;
    margin: auto;
    padding: 70px 0;
    &>div {
      padding: @mainMargin;
      float: left;
      width: 300px;
      text-align: center;
    }

  }
  p {
    color: #000;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    font-style: italic;
    margin-top: 190px;
    text-decoration: underline;

    a {
      color: #000;
      font-family: 'Droid Serif', serif;
      text-decoration: underline;
    }
  }
}

@customerWidth: 136px;

#customers {
  background: #fff;
  padding: @mainMargin 0;
  ul {
    margin: 0;
    padding: 0 0 0 60px;
    display: inline-block;
    li {
      margin: 0;
      padding: 0 50px 0 0;
      display: inline-block;
      a {
        background: url(/images/homepage_customer_logos-04.png);
        display: inline-block;
        width: @customerWidth;
        height: 38px;
        text-indent: -4000px;
        vertical-align: middle;
        opacity: 0.6;
        &:hover {
          opacity: 1.0;
        }
      }
      &.redditgifts {
      }
      &.thefancy {
        a {
          background-position: -@customerWidth * 1 0;
        }
      }
      &.groupme {
        a {
          background-position: -@customerWidth * 2 0;
        }
      }
      &.vungle {
        a {
          background-position: -@customerWidth * 3 0;
        }
      }
      &.visually {
        a {
          background-position: -@customerWidth * 4 0;
        }
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

#lamestream-media {
  text-align: right;
}

#processing {
  .sub {
    background: url(/images/homepage_creditcard_logos-01.png) top right no-repeat;
  }
}

#payouts {

}

@diagramWidth: 124px;

#marketplaces {
  .steps {
    p {
      position: relative;
      z-index: 1;
      &:before {
        background: url(/images/homepage_diagram-01.png) 0 0 no-repeat;
        width: @diagramWidth;
        height: 125px / 1.6;
        display: block;
        content: ' ';
        margin-bottom: 5px;
      }
    }
    .charge {
      p:before {
      }
    }
    .escrow {
      p {
        color: #C98935;
        &:before {
          background-position: -@diagramWidth * 1 0;
        }
      }
    }
    .payouts {
      p:before {
        background-position: -@diagramWidth * 2 0;
      }
    }
    .fees {
      p {
        color: #C98935;
        &:before {
          background-position: -@diagramWidth * 3 0;
        }
      }
    }
  }
  .callouts {
    li {
      width: 248px;
      height: 202px;
      background: url(/images/homepage_messagebox-01.png) 0 0 no-repeat;
      position: relative;
      top: -72px;
      padding: 108px 0 0 18px;
      h4, p {
        width: 232px;
      }
    }
  }
}

@clientWidth: 36px;

#integrating {
  ul {
    margin: 0;
    padding: 0;
  }
  h4 {
    margin-bottom: 0.5em;
  }
  .libraries li, .tutorials li {
    list-style: none;
    border-bottom: 1px solid @lineRuleBackground;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    a {
      font-family: @baseFontFamilyBold;
      font-weight: normal;
      font-size: 20px;
      &:before {
        content: ' ';
        display: inline-block;
        width: @clientWidth;
        height: 36px;
        background: url(/images/homepage_client_library_logos-03.png) -@clientWidth * 9 0 no-repeat;
        vertical-align: middle;
        margin-right: @mainMargin / 2; //        opacity: 0.55;
      }
      &:hover {
        &:before {
          opacity: 1.0;
        }
      }
    }
    &.python {
      a:before {
        background-position: -@clientWidth * 0 0;
      }
    }
    &.ruby {
      a:before {
        background-position: -@clientWidth * 1 0;
      }
    }
    &.php {
      a:before {
        background-position: -@clientWidth * 2 0;
      }
    }
    &.java {
      a:before {
        background-position: -@clientWidth * 3 0;
      }
    }
    &.perl {
      a:before {
        background-position: -@clientWidth * 4 0;
      }
    }
    &.nodejs {
      a:before {
        background-position: -@clientWidth * 5 0;
      }
    }
    &.csharp {
      a:before {
        background-position: -@clientWidth * 6 0;
      }
    }
    &.ios {
        a:before {
            background-position: -@clientWidth * 7 0;
        }
    }
    &.android {
        a:before {
            background-position: -@clientWidth * 8 0;
        }
    }
  }
  .tutorials {
    li {
      a {
        font-family: @baseFontFamily;
        font-size: 14px;
      }
    }
    &+h4 {
      border-bottom: 0;
      margin: @mainMargin 0;
      float: left;
      width: 100%;
      padding: 0;
    }
  }

}

#pricing {
  h4 {
    padding: @mainMargin 0 0;
    margin: 0;
    span {
      font-family: @baseFontFamily;
      font-size: 13px;
    }
  }
  li {
    list-style: none;
    float: left;
    clear: both;
    width: 100%;
    border-bottom: 1px solid @lineRuleBackground;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    h4 {
      float: left;
      border-bottom: none;
      vertical-align: middle;
    }
    p {
      float: right;
      vertical-align: middle;
    }
  }
  .processing {
    background: url(/images/homepage_pricing-02-2x.png) 0 0 no-repeat;
    background-size: 246px;
    width: 246px;
    height: 50px;
    text-indent: -4000px;
    margin: auto;
    display: inline-block;
    &.ach {
      background-position: 0 -50px * 1;
    }
  }
  .payouts {
    background: url(/images/homepage_pricing-02-2x.png) 0 -50px * 2 no-repeat;
    background-size: 246px;
    width: 246px;
    height: 50px;
    text-indent: -4000px;
    margin: auto;
    display: inline-block;
  }
}

#go {
  background-color: @curryYellow40;
  .letThemKnow();
  margin-bottom: 25px;
}

#marketplaces, #processing, #payouts {
  h2 {
    color: #C98935;
  }
}

body.layout-v4.larger {
  .container {
    width: 1008px;
    padding-left: 0;
  }
  .site-header {
    > .span19 {
      width: 1008px;
    }
  }
  .site-nav {
    float: right;
  }
}
