body.open-company {
    section {
        position: relative;
        width: 100%;

        &.open {
            background: url(/images/open-company/open_company_bg_1.png) no-repeat center center fixed;
            background-size: auto;
       }

        &.innovation {
            background: url(/images/open-company/open_company_bg_2.png) no-repeat center center fixed;
            background-size: auto;
        }

        &.passion {
            background: url(/images/open-company/open_company_bg_3.png) no-repeat center center fixed;
            background-size: auto;
        }

        &.commitment {
            background: url(/images/open-company/open_company_bg_4.png) no-repeat center center fixed;
            background-size: auto;
        }

        h1 {
            font-size: 70px;
            line-height: 100px;
            color: @white;
            text-align: center;
            width: 100%;
            padding: 20% 0px 20% 0px;
        }
    }
}