body.payouts {
    section {
        &.how-it-works {
            .content-green {
                background-color: @pineGreen60;

                .section-title {
                    border-top: 1px solid @pineGreen100;
                }
            }

            .title-icon {
                background-position: -25px -453px;
            }
        }

        &.integration-flow {
            .split-container {
                border-top: 5px solid @black;
                margin-bottom: 50px;

                h3 {
                    font-family: NimbusSanNovConD-Bol, arial, sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 22px;
                    line-height: 24px;
                    color: @black;
                    display: block;
                    padding-top: 50px;
                    margin-bottom: 20px;
                }

                p {
                    font-family: NimbusSanNov-Med, arial, sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 15px;
                    line-height: 22px;
                    color: @gray6;
                    text-align: right;
                }

                /* Shared */
                .left, .right {
                    .process {
                        p {
                            font-family: NimbusSanNov-SemBol, arial, sans-serif;
                            font-size: 13px;
                            line-height: 18px;
                            color: @black;
                        }
                    }
                }

                .left {
                    padding-right: 29px;
                    border-right: 1px solid @gray3;

                    h3, p {
                        text-align: right;
                    }

                    .process {
                        margin-top: 25px;

                        .graphic {
                            background: url(/images/payouts/payouts_full_marketplace_solution-2x.png) no-repeat;
                            width: 240px;
                            height: 500px;
                            background-position: 0px 0px;
                            background-size: 240px;
                            float: right;
                            margin-left: 19px;
                            margin-bottom: 30px;
                        }

                        p:nth-of-type(1) {
                            padding-top: 55px;
                        }

                        p:nth-of-type(2) {
                            padding-top: 112px;
                        }

                        p:nth-of-type(3) {
                            padding-top: 85px;
                        }
                    }
                }

                .right {
                    padding-left: 30px;
                    margin-left: 0px;

                    h3, p {
                        text-align: left;
                    }

                    .process {
                        margin-top: 25px;

                        .graphic {
                            background: url(/images/payouts/payouts_only-2x.png) no-repeat;
                            width: 240px;
                            height: 500px;
                            background-position: 0px 0px;
                            background-size: 240px;
                            float: left;
                            margin-right: 19px;
                            margin-bottom: 30px;
                        }

                        p:nth-of-type(1) {
                            padding-top: 47px;
                        }

                        p:nth-of-type(2) {
                            padding-top: 105px;
                        }

                        p:nth-of-type(3) {
                            padding-top: 80px;
                        }
                    }
                }
            }

            .btn {
                font-size: 18px;
                line-height: 20px;
                padding: 6px 9px;
                border: 3px solid @black;
            }
        }

        &.payment-schedule {
            .schedule-times {
                .title {
                    color: @black;
                    background-color: @pineGreen60;
                    letter-spacing: 0.1em;
                }
            }
        }

        &.collecting-bank-account-info {
            .bank-account-info {
                .teeth {
                    > div {
                        background: @white;
                    }
                }
            }

            .graphic {
                background: url(/images/payouts/collecting_bank_account_info-2x.png) no-repeat;
                width: 570px;
                height: 600px;
                background-position: 0px 0px;
                background-size: 570px;
            }

            .title {
                font-family: NimbusSanNovConD-Bol,arial,sans-serif;
                font-size: 18px;
                letter-spacing: .1em;
                padding: 25px 25px 5px 25px;
                color: @gray5;
                text-transform: uppercase;
            }

            .subtitle {
                font-family: NimbusSanNov-SemBol,arial,sans-serif;
                font-size: 13px;
                color: @black;
                padding: 5px 25px 35px 25px;
                line-height: 16px;
            }

            .bank-info-section {
                padding: 25px 0 25px 0;
                margin: 0 25px;
                border-top: 1px solid @gray3;

/*                &:last-child, &:last-of-type, &.last {
                    border-bottom: 0;
                }*/

                &.success {
                    .success-icon {
                        display: inline-block;
                    }

                    input {
                        background-color: @pineGreen60;
                    }

                    .bank-name {
                         font-family: NimbusSanNov-SemBol, arial, sans-serif;
                         float: right;
                         position: relative;
                    }
                }

                &.error {
                    input {
                        background: @imperialRed60;
                    }

                    .description {
                        > span {
                          color: @imperialRed100;

                          span {
                            font-family: NimbusSanNov-Bol, arial, sans-serif;
                          }
                        }
                    }
                }

                .success-icon {
                    display: none;
                    position: relative;
                    font-size: 20px;
                    left: -30px;
                    color: @white;
                }

                h6 {
                    color: @black;
                    margin: 0 15px;
                    font-family: NimbusSanNov-SemBol, arial, sans-serif;
                    font-size: 13px;
                    line-height: 18px;
                    font-weight: normal;
                }

                input {
                    background: @gray2;
                    color: @black;
                    margin: 0;
                    border: none;
                    outline: none;
                    .border-radius(0);
                    line-height: 30px;
                    font-size: 18px;
                    height: 30px;
                    font-family: NimbusSanNov-Med,arial,sans-serif;
                    width: 50%;
                    padding: 4px 10px;
                }

                &.large {
                    input {
                        width: auto;
                    }
                }

                .description,.bank-name {
                    font-family: NimbusSanNov-Med, arial, sans-serif;
                    font-size: 13px;
                    color: #000;
                }

                .bank-name {
                    line-height: 0;
                }

                .description {
                    line-height: 16px;
                    display: table;
                    overflow: hidden;
                    float: right;
                    height: 100%;
                    min-height: 36px;
                    margin-left: 0;

                    > span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }

            .bank-info-bottom {
                background: @pineGreen20;
                height: 150px;
                margin: 0;

                .bottom {
                    margin: 15px 0;
                    padding: 30px 25px;
                    border-right: 1px solid @gray3;
                    height: 55px;
                    color: @black;
                }

                span {
                    font-family: 'Droid Serif', serif;
                    line-height: 18px;
                    font-style: italic;
                    font-size: 14px;
                }

                .check-graphic {
                    background: url(/images/check_image.png) no-repeat center center;
                    height: 110px;
                    width: 280px;
                    background-size: 280px;
                    margin-top: 25px;
                }
            }
        }

        &.payout-status {
            .graphic {
                background: url(/images/payouts/payouts_status-2x.png) no-repeat;
                width: 840px;
                height: 515px;
                background-position: 0px 113px;
                background-size: 840px;
            }
        }

        &.reversing-a-payout {
            .graphic {
                background: url(/images/payouts/payouts_reversal_status-2x.png) no-repeat;
                width: 840px;
                height: 400px;
                background-position: 0px 40px;
                background-size: 840px;
            }
        }

        &.bank-statement-descriptor {
            .graphic {
                background: url(/images/payouts/payouts_bank_statement_descriptor-2x.png) no-repeat;
                width: 570px;
                height: 250px;
                background-position: 0px 0px;
                background-size: 570px;
            }

            .footnote {
                margin-top: 5px;
                color: @black;
                font-size: 13px;
                font-family: NimbusSanNov-Med, arial, sans-serif;
            }
        }
    }
}