.pricing {
  .section-icon {
    font-size: 160px;
    color: @pineGreen80;
  }

  .note {
    .sl-sm;
    color: @gray6;
  }

  .card-icons i {
    .sl-lg;
    color: @gray3;
    margin-left: 15px;
  }

  .main-price {
    font-size: 16px;

    .plus {
      font-size: 60px;
      line-height: 70px;
      color: @pineGreen80;
      margin: 0 10px;
    }

    .percent, .cent {
      font-size: 60px;
      color: @pineGreen80;
      line-height: 70px;
      margin-right: 20px;
      position: relative;

      &:after {
        font-family: 'Balanced-Icon';
        font-size: 24px;
        color: @pineGreen80;
        position: absolute;
        top: -20px;
      }
    }

    .percent:after {
      content: '$'; // percent icon
    }

    .cent:after {
      content: '#'; // cent icon
    }

    .dollar {
      font-size: 60px;
      color: @pineGreen80;
      margin-left: 15px;
      margin-right: 5px;
      line-height: 70px;
      position: relative;

      &:before {
        font-family: 'Balanced-Icon';
        font-size: 24px;
        color: @pineGreen80;
        position: absolute;
        top: -20px;
        content: '%'; // dollar icon
        left: -22px;
      }
    }
  }
}
