.highlight .hll{background-color:#ffffcc;}
.highlight{background:#eeffcc;}
.highlight .c{color:#408090;font-style:italic;}
.highlight .err{border:1px solid #ff0000;}
.highlight .k{color:#007020;font-weight:bold;}
.highlight .o{color:#666666;}
.highlight .cm{color:#408090;font-style:italic;}
.highlight .cp{color:#007020;}
.highlight .c1{color:#6d6e70;font-style:italic;}
.highlight .cs{color:#408090;background-color:#fff0f0;}
.highlight .gd{color:#a00000;}
.highlight .ge{font-style:italic;}
.highlight .gr{color:#ff0000;}
.highlight .gh{color:#000080;font-weight:bold;}
.highlight .gi{color:#00a000;}
.highlight .go{color:#303030;}
.highlight .gp{color:#c65d09;font-weight:bold;}
.highlight .gs{font-weight:bold;}
.highlight .gu{color:#800080;font-weight:bold;}
.highlight .gt{color:#0040d0;}
.highlight .kc{color:#007020;font-weight:bold;}
.highlight .kd{color:#007020;font-weight:bold;}
.highlight .kn{color:#007020;font-weight:bold;}
.highlight .kp{color:#007020;}
.highlight .kr{color:#007020;font-weight:bold;}
.highlight .kt{color:#902000;}
.highlight .m{color:#208050;}
.highlight .s{color:#ef4135;}
.highlight .na{color:#4070a0;}
.highlight .nb{color:#007020;}
.highlight .nc{color:#0e84b5;font-weight:bold;}
.highlight .no{color:#00704a;}
.highlight .nd{color:#555555;font-weight:bold;}
.highlight .ni{color:#d55537;font-weight:bold;}
.highlight .ne{color:#007020;}
.highlight .nf{color:#06287e;}
.highlight .nl{color:#002070;font-weight:bold;}
.highlight .nn{color:#0e84b5;font-weight:bold;}
.highlight .nt{color:#062873;font-weight:bold;}
.highlight .nv{color:#bb60d5;}
.highlight .ow{color:#007020;font-weight:bold;}
.highlight .w{color:#bbbbbb;}
.highlight .mf{color:#208050;}
.highlight .mh{color:#208050;}
.highlight .mi{color:#208050;}
.highlight .mo{color:#208050;}
.highlight .sb{color:#4070a0;}
.highlight .sc{color:#4070a0;}
.highlight .sd{color:#4070a0;font-style:italic;}
.highlight .s2{color:#ef4135;}
.highlight .se{color:#4070a0;font-weight:bold;}
.highlight .sh{color:#4070a0;}
.highlight .si{color:#70a0d0;font-style:italic;}
.highlight .sx{color:#c65d09;}
.highlight .sr{color:#235388;}
.highlight .s1{color:#4070a0;}
.highlight .ss{color:#000;font-weight:bold;}
.highlight .bp{color:#007020;}
.highlight .vc{color:#bb60d5;}
.highlight .vg{color:#bb60d5;}
.highlight .vi{color:#bb60d5;}
.highlight .il{color:#208050;}
.codehilite .hll{background-color:#ffffcc;}
.codehilite{background:#eeffcc;}
.codehilite .c{color:#408090;font-style:italic;}
.codehilite .err{border:1px solid #ff0000;}
.codehilite .k{color:#007020;font-weight:bold;}
.codehilite .o{color:#666666;}
.codehilite .cm{color:#408090;font-style:italic;}
.codehilite .cp{color:#007020;}
.codehilite .c1{color:#408090;font-style:italic;}
.codehilite .cs{color:#408090;background-color:#fff0f0;}
.codehilite .gd{color:#a00000;}
.codehilite .ge{font-style:italic;}
.codehilite .gr{color:#ff0000;}
.codehilite .gh{color:#000080;font-weight:bold;}
.codehilite .gi{color:#00a000;}
.codehilite .go{color:#303030;}
.codehilite .gp{color:#c65d09;font-weight:bold;}
.codehilite .gs{font-weight:bold;}
.codehilite .gu{color:#800080;font-weight:bold;}
.codehilite .gt{color:#0040d0;}
.codehilite .kc{color:#007020;font-weight:bold;}
.codehilite .kd{color:#007020;font-weight:bold;}
.codehilite .kn{color:#007020;font-weight:bold;}
.codehilite .kp{color:#007020;}
.codehilite .kr{color:#007020;font-weight:bold;}
.codehilite .kt{color:#902000;}
.codehilite .m{color:#208050;}
.codehilite .s{color:#4070a0;}
.codehilite .na{color:#4070a0;}
.codehilite .nb{color:#007020;}
.codehilite .nc{color:#0e84b5;font-weight:bold;}
.codehilite .no{color:#60add5;}
.codehilite .nd{color:#555555;font-weight:bold;}
.codehilite .ni{color:#d55537;font-weight:bold;}
.codehilite .ne{color:#007020;}
.codehilite .nf{color:#06287e;}
.codehilite .nl{color:#002070;font-weight:bold;}
.codehilite .nn{color:#0e84b5;font-weight:bold;}
.codehilite .nt{color:#062873;font-weight:bold;}
.codehilite .nv{color:#bb60d5;}
.codehilite .ow{color:#007020;font-weight:bold;}
.codehilite .w{color:#bbbbbb;}
.codehilite .mf{color:#208050;}
.codehilite .mh{color:#208050;}
.codehilite .mi{color:#208050;}
.codehilite .mo{color:#208050;}
.codehilite .sb{color:#4070a0;}
.codehilite .sc{color:#4070a0;}
.codehilite .sd{color:#4070a0;font-style:italic;}
.codehilite .s2{color:#4070a0;}
.codehilite .se{color:#4070a0;font-weight:bold;}
.codehilite .sh{color:#4070a0;}
.codehilite .si{color:#70a0d0;font-style:italic;}
.codehilite .sx{color:#c65d09;}
.codehilite .sr{color:#235388;}
.codehilite .s1{color:#4070a0;}
.codehilite .ss{color:#517918;}
.codehilite .bp{color:#007020;}
.codehilite .vc{color:#bb60d5;}
.codehilite .vg{color:#bb60d5;}
.codehilite .vi{color:#bb60d5;}
.codehilite .il{color:#208050;}
