{% extends 'layout.html' %}

{% block body %}
<div class="bg-default">
  <section class="page-header large-bottom-margin">
    <div class="background-image"></div>
    <div class="title-image"></div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="summary row large-bottom-margin">
          <div class="page-subtitle clearfix">
            <div class="col-md-10">
              <span>{{ page.metadata.subtitle.heading }}</span>
            </div>
          </div>
          <div class="summary-text">
            <p class="page-summary">
              {{ page.metadata.subtitle.bodyText }}
            </p>
          </div>
        </div>

        <div class="intro-image large-bottom-margin">
            <div class="sidebar">
              {% for item in page.metadata.intro %}
                <div class="step">
                  <h1>{{item.step}}</h1>
                  <h2>{{item.title}}</h2>
                  <p>{{item.body}}</p>
                </div>
              {% endfor %}
            </div>
            <div class="account-reconciliation-flow"></div>
        </div>

        <section>
            {% for feature in page.metadata.features %}
              <div class="content clearfix">
                <div class="section-title section-title-no-width clearfix">
                  <div class="title-wrapper">
                    <span>{{feature.title}}</span>
                  </div>
                </div>
                <div class="col-md-3 no-margin-left">
                    <div class="section-side-body">
                      {{feature.body}}
                    </div>
                </div>
                <div class="col-md-8 pull-right">
                  <div class="{{feature.class}}"></div>
                </div>
              </div>
            {% endfor %}

          <div class="api content clearfix">
            <div class="section-title section-title-no-width">
              <div class="title-wrapper col-md-4">
                <span>{{page.metadata.api.title}}</span>
                <p>{{page.metadata.api.body}}</p>
                <p><a href="{{ page.metadata.api.linkUrl }}">{{page.metadata.api.linkText}}</a></p>
              </div>
              <div class="col-md-8 pull-right">
                <div class="code-sample">
                  <div class="title">Request</div>
  <pre>
curl https://api.balancedpayments.com/customers/CULfBB2MuTwszKMc1zKUjtK/orders <span class="se">\</span>
    -u ak-test-2qEM0Znvd8LIVbZ01LbFHvHgab4fkNr3c: <span class="se">\</span>
    -d <span class="s2">description="Order #12341234"</span> <span class="se">\</span>
   </pre>
                </div>
                <div class="code-sample">
                  <div class="title">Response *</div>
                  <pre>
<span class="p">{</span>
  <span class="s2">...</span>
  <span class="p">"orders"</span><span class="o">:</span> <span class="s2">[</span>,
    <span class="p">{</span>
      <span class="s2">"amount"</span><span class="o">:</span> <span class="s2">0</span>,
      <span class="s2">"amount_escrowed"</span><span class="o">:</span> <span class="s2">0</span>,
      <span class="s2">"currency"</span><span class="o">:</span> <span class="s2">"USD"</span>,
      <span class="s2">"delivery_address"</span><span class="o">:</span> <span class="s2">{</span>,
        <span class="s2">"city"</span><span class="o">:</span> <span class="s2">null</span>,
        <span class="s2">"country_code"</span><span class="o">:</span> <span class="s2">null</span>,
        <span class="s2">"line1"</span><span class="o">:</span> <span class="s2">null</span>,
        <span class="s2">"line2"</span><span class="o">:</span> <span class="s2">null</span>,
        <span class="s2">"postal_code"</span><span class="o">:</span> <span class="s2">null</span>,
        <span class="s2">"state"</span><span class="o">:</span> <span class="s2">null</span>,
      <span class="p">}</span>
      <span class="s2">"description"</span><span class="o">:</span> <span class="s2">"Order #12341234"</span>,
      <span class="s2">"href"</span><span class="o">:</span> <span class="s2">"/orders/OR5RmqlMTjHm1fVkdf6l0RNA"</span>,
      <span class="s2">"id"</span><span class="o">:</span> <span class="s2">"OR5RmqlMTjHm1fVkdf6l0RNA"</span>,
      <span class="s2">"links"</span><span class="o">:</span> <span class="s2">{</span>,
        <span class="s2">"merchant"</span><span class="o">:</span> <span class="s2">"CULfBB2MuTwszKMc1zKUjtK"</span>,
      <span class="p">},</span>
      <span class="s2">"meta"</span><span class="o">:</span> <span class="s2">{}</span>,
      <span class="p">...</span>
    <span class="p">}</span>
  <span class="p">]</span>
</pre>
  <div class="note">* Some parts of the response have been omitted for brevity.</div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}
