{% extends 'layout.html' %}

{% set scripts = ['//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js'] %}

{% block body %}
<div class="bg-default">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <header>
                      <div class="col-md-12 page-title">
                        <h1>{{page.metadata.pageTitle}}</h1>
                      </div>
                    </header>
                </div>

                <div class="row large-bottom-margin">
                    <div class="page-subtitle">
                      <div class="col-md-12">
                        {{ page.metadata.subtitle.heading }}
                      </div>
                    </div>
                </div>

                <section class="how-it-works" id="how-it-works">
                    <div class="row">
                        <div class="col-md-12 content-blue med-top-padding med-bottom-padding">
                            <div class="offset1 section-title section-title-full">
                                <div class="title-wrapper">
                                    <span>{{page.metadata.howItWorks.title}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="title-icon"></div>
                            </div>
                            <div class="body-copy body3 col-md-8">
                                {{page.metadata.howItWorks.body}}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="bg-white" id="card-process">
    <div class="container">
        <div class="row">
            <section class="card-process">
                <div class="col-md-12">
                    <h3>{{page.metadata.howItWorksDiagram.header.markdown()}}</h3>
                    <div class="process">
                        <div class="graphic"></div>
                        <p id="card_process-1">{{page.metadata.howItWorksDiagram.step1}}</p>
                        <p id="card_process-2">{{page.metadata.howItWorksDiagram.step2}}</p>
                        <p id="card_process-3-1">{{page.metadata.howItWorksDiagram.step31}}</p>
                        <p id="card_process-3-2">{{page.metadata.howItWorksDiagram.step32}}</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="bg-default" id="collecting-card-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="collecting-card-info">
                    <div class="box-pad-top">
                        <div class="section-title section-title-no-width">
                            <div class="title-wrapper">
                                <span>{{page.metadata.collectingCardInfo.title}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 no-margin-left">
                            <div class="section-side-body">
                                {{page.metadata.collectingCardInfo.body}}
                            </div>
                            <div class="section-side-link">
                                <a href="{{page.metadata.collectingCardInfo.learnLinkHref}}">{{page.metadata.collectingCardInfo.learnLink}}</a>
                            </div>
                        </div>
                        <div class="col-md-8 no-margin-left">
                            <div class="graphic"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row" id="recurring-billing">
            <div class="col-md-12">
                <section class="recurring-billing">
                    <div class="box-pad-top">
                        <div class="section-title section-title-no-width">
                            <div class="title-wrapper">
                                <span>{{page.metadata.recurringBilling.title}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 no-margin-left">
                          <div class="section-side-body">
                              {{page.metadata.recurringBilling.body}}
                          </div>
                          <div class="section-side-link">
                              <a href="{{page.metadata.recurringBilling.learnLinkHref}}">{{page.metadata.recurringBilling.learnLink}}</a>
                          </div>
                        </div>
                        <div class="col-md-8 no-margin-left">
                            <div class="graphic"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row" id="card-authorizations">
            <div class="col-md-12">
                <section class="card-authorizations">
                    <div class="box-pad-top">
                        <div class="section-title section-title-full">
                            <div class="title-wrapper">
                                <span>{{page.metadata.cardAuthorizations.title}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 no-margin-left">
                            <div class="section-side-body">
                                {{page.metadata.cardAuthorizations.body}}
                            </div>
                            <div class="section-side-link">
                                <a href="{{page.metadata.cardAuthorizations.learnLinkHref}}">{{page.metadata.cardAuthorizations.learnLink}}</a>
                            </div>
                        </div>
                        <div class="graphic"></div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row" id="card-statement-descriptor">
            <div class="col-md-12">
                <section class="card-statement-descriptor">
                    <div class="box-pad-top">
                        <div class="section-title section-title-no-width">
                            <div class="title-wrapper">
                                <span>{{page.metadata.cardStatementDescriptor.title}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 no-margin-left">
                            <div class="section-side-body">
                                {{page.metadata.cardStatementDescriptor.body}}
                            </div>
                            <div class="section-side-link">
                                <a href="{{page.metadata.cardStatementDescriptor.learnLinkHref}}">{{page.metadata.cardStatementDescriptor.learnLink}}</a>
                            </div>
                        </div>
                        <div class="col-md-8 no-margin-left">
                            <div class="graphic"></div>
                            <p class="footnote">{{page.metadata.cardStatementDescriptor.limit}}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

         <div class="row" id="chargebacks-disputes">
            <div class="col-md-12">
                <section class="chargebacks-disputes">
                    <div class="box-pad-top">
                        <div class="section-title section-title-no-width">
                            <div class="title-wrapper">
                                <span>{{page.metadata.chargebacksDisputes.title}}</span>
                            </div>
                        </div>
                        <div class="col-md-3 no-margin-left">
                            <div class="section-side-body">
                                {{page.metadata.chargebacksDisputes.body}}
                            </div>
                            <div class="section-side-link">
                                <a href="{{page.metadata.chargebacksDisputes.learnLinkHref}}">{{page.metadata.chargebacksDisputes.learnLink}}</a>
                            </div>
                        </div>
                        <div class="col-md-8 no-margin-left">
                            <div class="graphic"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row" id="card-processing">
            <div class="col-md-12">
                <section class="card-processing">
                    <div class="box-pad-top">
                        <div class="pricing col-md-12 content">
                            <div class="section-title section-title-no-width">
                                <div class="title-wrapper pull-left">
                                    <span>{{page.metadata.cardProcessingPricing.title}}</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                              <div class="section-icon"><i class="icon-{{page.metadata.cardProcessingPricing.image}}  non-interactive"></i></div>
                            </div>
                            <div class="col-md-8 pull-right">
                              <div class="panel">
                                <div class="panel-heading main-price">

                                  {% if page.metadata.cardProcessingPricing.percent %}
                                  <span class="percent">{{page.metadata.cardProcessingPricing.percent}}</span>
                                  <span class="plus">+</span>
                                  {% endif %}

                                  {% if page.metadata.cardProcessingPricing.cent %}
                                  <span class="cent">{{page.metadata.cardProcessingPricing.cent}}</span>
                                  {% endif %}

                                  {% if page.metadata.cardProcessingPricing.dollar %}
                                  <span class="dollar">{{page.metadata.cardProcessingPricing.dollar}}</span>
                                  {% endif %}

                                  <span class="per">per transaction</span>
                                </div>

                                <ul class="list-group">
                                  {% for item in page.metadata.cardProcessingPricing.list %}
                                  <li class="list-group-item">
                                    <span>{{item.name}}</span>
                                    {% if item.note %}
                                      <span class="note">({{item.note}})</span>
                                    {% endif %}
                                    <span class="pull-right">{{item.price}}</span>
                                  </li>
                                  {% endfor %}
                                </ul>
                              </div>
                              <div class="card-icons">
                                <i class="icon-american-express"></i>
                                <i class="icon-visa"></i>
                                <i class="icon-mastercard"></i>
                                <i class="icon-discover"></i>
                              </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{%- include 'partials/get-started-footer.html' -%}

{% endblock %}
