{% extends 'layout.html' %}

{% block body %}
<div class="modal hide video-modal">
<iframe width="720" height="460" src="" frameborder="0" allowfullscreen></iframe>
</div>

<div class="bg-default" id="testimonial">
    <section class="video-testimonial-image xlarge-bottom-margin">
        <div class="background-image first"></div>
        <div class="background-image second"></div>
        <div class="texture"></div>
        <!-- <div class="window"></div> -->
        <div class="container">
            <div class="row">
                <div class="span19">
                <div class="banner">
                    <div class="row">
                        <div class="banner-content span14">
                            <div class="banner-logo">
                              <img src="/images/customers/logo_{{page.metadata.video_testimonials.list[0].id}}_video.png" />
                            </div>
                            <div class="banner-content-text">
                                {{page.metadata.video_testimonials.list[0].description}}
                            </div>
                            <div class="play-button watch-video">
                                <div class="circle"></div>
                                <div class="triangle"></div>
                                Play video
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="row thumb-container">
                <div>
                    {% for testimonial in page.metadata.video_testimonials.list %}
                    <div class="thumb{% if loop.first %} selected{% endif %}" id="{{testimonial.id}}">
                        <div class="overlay"></div>
                        <img class="thumb-image" src="/images/customers/{{testimonial.id}}_small_thumbnail.png"/>
                        <div class="thumb-label">{{testimonial.label}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <div class="container" id="customer">
        <div class="row">
            <div class="span19">
                <div class="row large-bottom-margin">
                    <div class="page-subtitle">
                        <div class="span19">
                            <span class="">{{ page.metadata.subtitle.heading }}</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="customer-wall-header span19">
                        <div class="navbar">
                            <ul class="nav">
                                <li class="selected all"><a href="#">All</a></li>
                                <li class="circle marketplace" data-filter="marketplace"><a href="#">Marketplace</a></li>
                                <li class="circle crowdfunding" data-filter="crowdfunding"><a href="#">Crowdfunding</a></li>
                                <li class="circle ecommerce" data-filter="ecommerce"><a href="#">E-Commerce provider</a></li>
                                <li class="circle donation" data-filter="donation"><a href="#">Donation</a></li>
                                <li class="circle advertising" data-filter="advertising"><a href="#">Advertising</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row large-bottom-margin">
                    <div class="customer-wall">
                        <div class="masonry">
                          {% for customer in page.metadata.customer_wall.list %}
                            <div class="card {{customer.id}} {{customer.classes}}{% if customer.caseStudy %} case-study{% endif %}">
                                <a class="flipper" href="{{customer.link}}" rel="nofollow">
                                    <div class="front">
                                      <div class="card-content"><img src="/images/customers_list/logo_{{customer.id}}.png"/><div class="background">&nbsp;</div></div>

                                      {% if customer.caseStudy %}
                                      <div class="case-study-bar">Case Study</div>
                                      {% endif %}
                                    </div>
                                    <div class="back">
                                      <div class="card-content"><img src="/images/customers_list/logo_{{customer.id}}.png"/></div>

                                      {% if customer.description %}
                                      <div class="case-study-content">{{customer.description}} <div class="study-bar"><span class="icon-arrow-forward-dashboard"></span></div></div>
                                      {% endif %}

                                      {% if customer.caseStudy %}
                                      <div class="case-study-bar">View Case Study <span class="icon-arrow-forward-dashboard"></span></div>
                                      {% endif %}
                                    </div>
                                </a>
                            </div>
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="span19">
                <section class="try-the-dashboard">
                    <div class="center">
                        <p>{{page.metadata.tryTheDashboard.body}}</p>
                        <a href="https://dashboard.balancedpayments.com/#/start" class="btn btn-pal">TRY THE DASHBOARD</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/customer-lib.min.js"></script>
<script type="text/javascript">
var testimonials={};
{%- for testimonial in page.metadata.video_testimonials.list -%}
testimonials["{{testimonial.id}}"]={ description: "{{testimonial.description}}", ytVideoId: "{{testimonial.ytVideoId}}", background: "/images/customers/{{testimonial.id}}_background.jpg", logo: "/images/customers/logo_{{testimonial.id}}_video.png", thumb: "/images/customers/{{testimonial.id}}_video_thumbnail.jpg" };
{%- endfor -%}$(balanced.customers)
</script>
{% endblock %}
