{% extends 'layout.html' %}


{% block head %}
<link rel="stylesheet" href="/static/css/pygments.css">
<link rel="stylesheet" href="/static/css/root3.css">
{% endblock %}

{% block body %}

<div style="width: 960px; margin: auto">
  <section id="h-flow">
    <div id="logo">
      <a href="/"><img src="https://s3.amazonaws.com/justice.web/hp/3/balanced_logo.png" alt="Balanced Homepage Logo"></a>
    </div>
    <h2>the life of a transaction</h2>
    <h4>based on a $100 transaction and 10% marketplace fee</h4>
    <div class="booger">
      <div class="diagram">
	<img src="https://s3.amazonaws.com/justice.web/hp/3/flow_1.png" id="hold-img" class="selected">
	<img src="https://s3.amazonaws.com/justice.web/hp/3/flow_2.png" id="debit-img">
	<img src="https://s3.amazonaws.com/justice.web/hp/3/flow_3.png" id="escrow-img">
	<img src="https://s3.amazonaws.com/justice.web/hp/3/flow_4.png" id="credit-img">
	<img src="https://s3.amazonaws.com/justice.web/hp/3/flow_5.png" id="fee-img">
      </div>
      <ul>
	<li class="selected"><a href="#hold">authorize the card</a></li>
	<li><a href="#debit">charge the card</a></li>
	<li><a href="#escrow">move funds to escrow</a></li>
	<li><a href="#credit">deposit funds to merchant</a></li>
	<li><a href="#fee">collect marketplace fees</a></li>
      </ul>
      <div class="description">
	<p id="hold-description" class="selected">
	  When the buyer submits payment, you have the option to authorize the
	  card or charge it right away.<br>In this example, the buyer's card is
	  authorized for $100. A 30&#162; fee is applied to the authorization.
	</p>
	<p id="debit-description">
	  You'll have the maximum number of days, as allowed by the issuing
	  bank, to charge<br>the card up to the full amount of the
	  authorization. A 2.9% processing fee is applied.
	</p>
	<p id="escrow-description" class="one">
	  The buyer's payment is held in escrow until you are ready to disburse funds.
	</p>
	<p id="credit-description">
	  Upon fulfillment, you will deposit $90 into the merchant's bank
	  account via next-day ACH.<br>The marketplace account balance is
	  now -$3.45 to reflect the 25&#162; ACH deposit fee.
	</p>
	<p id="fee-description">
	  Collect your fees from the remaining escrow balance. The $10
	  is deposited into<br>the marketplace account within seven days.
	  The final balance is $6.55.
	</p>
      </div>
    </div>
  </section>

  <section id="h-start">
    <a href="/marketplaces/start" class="btn btn-bal get-started">Get started <span class="arrow-right"></span></a>
  </section>
</div>

{% endblock %}


{% block endbody %}
<script type="text/javascript">
  (function () {
  $('.coder .head a').click(function (e) {
  var $t = $(this);
  $t.closest('ul').find('li').removeClass('selected');
  $('.code li').removeClass('selected');
  $t.parent().addClass('selected');
  $($t.attr('href')).addClass('selected');
  e.preventDefault();
  });
  })();
</script>

<script type="text/javascript">
  (function () {
  $('#h-flow a').click(function (e) {
  var $t = $(this);
  $t.closest('ul').find('li').removeClass('selected');
  $('.code li, .diagram img, .description p').removeClass('selected');
  $t.parent().addClass('selected');
  $($t.attr('href') + '-description').addClass('selected');
  $($t.attr('href') + '-img').addClass('selected');
  e.preventDefault();
  });
  })();
</script>
{% endblock %}
