{% extends 'layout.html' %}

{% block body %}

<div class="bg-default">
    <div class="container">
        <div class="row">
            <div class="span19">
                <header class="row">
                    <div class="span19 page-title">
                        <h1>{{page.metadata.pageTitle}}</h1>
                    </div>
                </header>

                <div class="row large-bottom-margin">
                    <div class="page-subtitle">
                        <div class="span19">
                            <span class="">{{page.metadata.subtitle.heading}}</span>
                        </div>
                    </div>
                </div>

                <div class="row span19" id="forex">
                    <section class="forex">
                        <div class="section-bg content clearfix">
                            <div class="section-title section-title-no-width">
                                <div class="title-wrapper span12">
                                    <span>{{page.metadata.WhatIsForex.title}}</span>
                                    <div>{{page.metadata.WhatIsForex.body}}</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
