{% extends 'layout.html' %}

{% block body %}

<div class="bg-default">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="row">
                    <div class="col-md-12 page-title">
                      <h1>{{page.metadata.pageTitle}}</h1>
                    </div>
                    <div class="large-bottom-margin">
                      <div class="summary-text clearfix">
                        <p class="page-summary col-md-10">{{page.metadata.subtitle.heading}}</p>
                        <a class="col-md-12" href="{{page.metadata.subtitle.linkUrl}}" target="_blank">{{page.metadata.subtitle.linkText}}</a>
                      </div>
                    </div>
                </header>

                <section>
                  <div class="content clearfix">
                    <div class="section-title section-title-no-width">
                      <div class="title-wrapper">
                        <span>{{page.metadata.basicRequirements.title}}</span>
                      </div>
                    </div>
                    <ul class="requirements clearfix">
                      {% for item in page.metadata.basicRequirements.list %}
                      <li class="col-md-3">
                        <p>{{item}}</p>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>

                  <div class="content clearfix">
                    <div class="section-title section-title-no-width">
                      <div class="title-wrapper">
                        <span>{{page.metadata.stepsToGoLive.title}}</span>
                      </div>
                    </div>
                    <ul class="steps">
                      {% for item in page.metadata.stepsToGoLive.list %}
                        <li class="list-group-item">
                          <div class="step">{{item.step}}</div>
                          <div class="graphic {{item.image}}"></div>
                          <h3>{{item.title}}</h3>
                          <p>{{item.description}}</p>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </section>
                <section class="try-the-dashboard">
                  <a href="{{page.metadata.tryTheDashboard.linkUrl}}" class="btn special">{{page.metadata.tryTheDashboard.buttonText}}</a>
                  <a href="{{page.metadata.helpCenter.linkUrl}}" target="_blank">{{page.metadata.helpCenter.linkText}}</a>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}
