{% extends 'layout.html' %}

{% block body %}

<div class="bg-default">
    <div class="container">
        <div class="row">
            <div class="span19">
                <header class="row">
                    <div class="span19 page-title">
                        <h1>{{page.metadata.pageTitle}}</h1>
                    </div>
                    <div class="large-bottom-margin">
                        <div class="summary-text">
                            <p class="page-summary">{{page.metadata.subtitle.heading}}</p>
                            <a href="{{page.metadata.subtitle.linkUrl}}" target="_blank">{{page.metadata.subtitle.linkText}}</a>
                        </div>
                    </div>
                </header>

                <section>
                  <div class="content clearfix">
                    <div class="section-title section-title-no-width">
                      <div class="title-wrapper">
                        <span>{{page.metadata.basicRequirements.title}}</span>
                      </div>
                    </div>
                    <ul class="list-group">
                      {% for item in page.metadata.basicRequirements.list %}
                      <li class="list-group-item">
                        <div class="icon"></div>
                        <p>{{item}}</p>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>

                  <div class="content clearfix">
                    <div class="section-title section-title-no-width">
                      <div class="title-wrapper">
                        <span>{{page.metadata.stepsToGoLive.title}}</span>
                      </div>
                    </div>
                    <ul class="list-group">
                      {% for item in page.metadata.stepsToGoLive.list %}
                      <li class="list-group-item">
                        <div class="graphic {{item.image}}"></div>
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </section>
                <section class="try-the-dashboard">
                    <div class="center">
                        <a href="{{page.metadata.tryTheDashboard.linkUrl}}" class="btn special">{{page.metadata.tryTheDashboard.buttonText}}</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

{% endblock %}
