{% extends 'layout.html' %}

{% block body %}

<div class="bg-default">
    <div class="hur">
        <div class="page-header center">
            <a href="/"><img class="homepage-logo" src="images/homepage_logo-01-2x.png" width="145" alt="Balanced Logo" title="Balanced - Card processing, escrow, and payouts in one simple API"></a>
            <div class="subtitle">{{ page.metadata.try_out.heading }}</div>
        </div>

        <section id="intro" class="clearfix">
            <div class="sidebar">
                <h1>{{ page.metadata.intro.heading }}</h1>
                <p>{{ page.metadata.intro.sub }}</p>
                <a class="btn" href="{{env.helpers.link('/get-started')}}">Get started</a>
            </div>
            <div class="hero-image"></div>
        </section>
        <section id="intro-sub">
            <div class="section-title section-title-no-width clearfix">
                {% for introText in page.metadata.intro.introText %}
                <div class="title-wrapper">
                    <span>{{introText.title}}</span>
                    <p>{{introText.body.markdown()}}</p>
                </div>
                {% endfor %}
            </div>
        </section>

        <section id="customers">
            <ul>
                {% for customer in page.metadata.customers %}
                <li class="{{ customer.class if customer.class else customer.name | lower }}">
                    <a href="{{ customer.url }}" target="_blank">{{ customer.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </section>

        {% for section in page.metadata.Sections %}
        <section id="{{ section.id }}">
            <h2>{{ section.title }}</h2>
            <div class="main clearfix">
                <div class="title">
                    {{ section.desc.markdown() }}
                </div>
                <div class="bod">
                    <ul class="threep">
                        {% for sub in section.subs %}
                        <li>
                            <h4>{{ sub.title }}</h4>
                            {{ sub.text }}
                            {% if sub.inDevelopment %}<div class="stage">In development</div> {% endif %}
                            <p><a href="{{env.helpers.link(sub.link)}}">Learn more</a></p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        {% endfor %}

        <section id="marketplaces">
            <h2>{{ page.metadata.marketplaces.title }}</h2>
            <div class="main clearfix">
                <div class="title">
                    {{ page.metadata.marketplaces.desc.markdown() }}
                </div>
                <div class="bod">
                    <ul class="fourp steps">
                        {% for item in page.metadata.marketplaces.tops %}
                        <li class="{{ item.id }}">
                            {{ item.text.markdown() }}
                        </li>
                        {% endfor %}
                    </ul>
                    <ul class="twop callouts">
                        {% for item in page.metadata.marketplaces.bottoms %}
                        <li>
                            {{ item.text.markdown() }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        <section id="integrating">
            <h2>{{ page.metadata.integrate.title }}</h2>
            <div class="main">
                <div class="title">
                    {{ page.metadata.integrate.desc.markdown() }}
                </div>
                <div class="bod">
                    <ul class="twop">
                        <li>
                            <h4>{{ page.metadata.integrate.tutorials_title }}</h4>
                            <ul class="tutorials">
                                {% for tutorial in page.metadata.integrate.tutorials %}
                                <li><a href="{{ tutorial.url }}">{{ tutorial.name }}</a></li>
                                {% endfor %}
                            </ul>
                            {{ page.metadata.integrate.sub_tutorials.markdown() if page.metadata.integrate.sub_tutorials }}
                        </li>
                        <li>
                            <h4>{{ page.metadata.integrate.clients_title }}</h4>
                            <ul class="libraries">
                                {% for library in page.metadata.integrate.clients %}
                                <li class="{{ library.class if library.class else library.name | lower }}">
                                    <a href="{{ library.url }}" target="_blank">{{ library.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {{ page.metadata.integrate.sub_clients.markdown() if page.metadata.integrate.sub_clients }}
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="pricing">
            <h2>{{ page.metadata.pricing.title }}</h2>
            <div class="main">
                <div class="title">
                    {{ page.metadata.pricing.desc.markdown() }}
                </div>
                <div class="bod">
                    <ul class="pricing">
                        {% for price in page.metadata.pricing.rates %}
                        <li>
                            <h4>{{ price.desc }} <span>({{ price.per }})</span></h4>
                            <p class="{{ price.amount }}">{{ price.amount }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        <section id="go" class="box">
            <h1>{{ page.metadata.bottom.heading }}</h1>
            <a href="https://dashboard.balancedpayments.com/#/start" class="btn special">{{ page.metadata.bottom.link }}</a>
        </section>

    </div>
</div>
{% endblock %}
