{% extends 'layout.html' %}

{% block body %}
<div class="bg-default">
	<section class="page-header large-bottom-margin">
		<div class="background-image"></div>
		<div class="title-image"></div>
	</section>

	<div class="container">
		<div class="row">
			<div class="span19">
				<div class="summary row large-bottom-margin">
					<div class="page-subtitle clearfix">
						<div class="span16">
							<span>{{ page.metadata.subtitle.heading }}</span>
						</div>
					</div>

					<div class="timeline span19 large-bottom-margin">
						<h3>Implementation roadmap</h3>
						<div class="span6">
							<span class="step">1</span>
							<span class="title current">{{page.metadata.timeline.title1}}</span>
							<div class="phase">{{page.metadata.timeline.phase1}}</div>
						</div>
						<div class="span7">
							<span class="step">2</span>
							<span class="title">{{page.metadata.timeline.title2}}</span>
							<div class="phase">{{page.metadata.timeline.phase2}}</div>
						</div>
						<div class="span6">
							<span class="step">3</span>
							<span class="title">{{page.metadata.timeline.title3}}</span>
							<div class="phase">{{page.metadata.timeline.phase3}}</div>
						</div>
					</div>

					<div class="span19">
						<div class="tag">
							<div>
								<span class="title">{{page.metadata.launch.title}}</span>
							</div>
							<div>
								<span class="month">{{page.metadata.launch.month}}</span>
								<span class="day">{{page.metadata.launch.day}}</span>
							</div>
						</div>
						<div class="summary-text span17 pull-right">
							<p class="page-summary">
								{{ page.metadata.what.bodyText }}
							</p>
							<p class="page-summary">
								<a href="{{ page.metadata.what.linkUrl }}">{{ page.metadata.what.linkText }}</a>
							</p>
						</div>
					</div>
				</div>

				<div class="forex large-bottom-margin">
					<div class="intro-image">
						<div class="pin animate-brl"></div>
						<div class="pin animate-cad"></div>
						<div class="pin animate-eur"></div>

						<div class="forex-map-sidebar">
							{{page.metadata.forexMapText}}
							<div class="currency-conversion"></div>
							<div class="view-all">
								<span>View supported currencies</span>
								<i class="icon-carat-down"></i>
							</div>
						</div>
					</div>
					<div class="currency-list clearfix">
						{% for currency in page.metadata.currencies.list %}
							<div class="span4">
								<div class="symbol">{{currency.symbol}}</div>
								<div class="name">{{currency.name}} {% if currency.amex %}{% else %}*{% endif %}</div>
							</div>
						{% endfor %}
            <div class="note">* Currencies not supported by Amex</div>
						<div class="close">Close</div>
					</div>
				</div>

				<section>
					<div class="section-bg content clearfix">
						<div class="section-title section-title-no-width">
							<div class="title-wrapper span6">
								<span>{{page.metadata.benefit1.title}}</span>
								<p>{{page.metadata.benefit1.body}}</p>
							</div>
							<div class="benefit1 folded-box span13 pull-right">
								<div class="row">
									<div class="handbag span3"></div>
									<div class="span7 pull-right">
										<div class="title top-padding">Checkout</div>
										<div class="local-currency">£ 120.00</div>
										<div class="icon-card span2"></div>
										<div class="card-info offset1">
											<div>Jessica Lauren</div>
											<div>xxxx xxxx xxxx 4896</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="section-bg content clearfix">
						<div class="section-title section-title-no-width">
							<div class="title-wrapper span6">
								<span>{{page.metadata.benefit2.title}}</span>
								<p>{{page.metadata.benefit2.body}}</p>
							</div>
							<div class="benefit2 folded-box span13 pull-right">
								<div class="title">Credit card statement</div>
								<div class="card-info">
									<div>Jessica Lauren</div>
									<div>xxxx xxxx xxxx 4896</div>
								</div>
								<table class="table table-condensed">
									<thead>
										<tr>
											<th>Date</th>
											<th>Description</th>
											<th class="amount-header">Amount</th>
										</tr>
									</thead>
									<tbody>
									<tr>
										<td>Oct 22</td>
										<td>BAL*ZUPPA 74120 JHall</td>
										<td class="amount">£ 120.00</td>
									</tr>
									<tr>
										<td>Oct 17</td>
										<td>BAL*ZUPPA 74103 JHall</td>
										<td class="amount">£ 78.00</td>
									</tr>
									<tr>
										<td>Oct 10</td>
										<td>BAL*ZUPPA 74726 JHall</td>
										<td class="amount">£ 32.50</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="section-bg content clearfix">
						<div class="section-title section-title-no-width">
							<div class="title-wrapper span6">
								<span>{{page.metadata.benefit3.title}}</span>
								<p>{{page.metadata.benefit3.body}}</p>
							</div>
							<div class="code-sample span13 pull-right">
								<div class="title">Example</div>
								<pre>
> balanced.exchangeRate(10000, <span class="s2">"USD"</span>, <span class="s2">"EUR"</span>)
72.35</pre>
							</div>
						</div>
					</div>
					<div class="section-bg content clearfix">
						<div class="section-title section-title-no-width">
							<div class="title-wrapper span6">
								<span>{{page.metadata.api.title}}</span>
								<p>{{page.metadata.api.body}}</p>
							</div>
							<div class="code-sample span13 pull-right">
								<div class="title">Request</div>
<pre>
curl https://api.balancedpayments.com/cards/CC5cX8TtoEgQ7nY3a8pj5D7f/debits <span class="se">\</span>
 -H <span class="s2">"Accept: application/vnd.api+json;revision=1.1"</span> <span class="se">\</span>
 -u ak-test-2qEM0Znvd8LIVbZ01LbFHvHgab4fkNr3c: <span class="se">\</span>
 -d <span class="s2">"amount=100"</span> <span class="se">\</span>
 -d <span class="s2">"currency=EUR"</span>
 </pre>
							</div>
							<div class="code-sample span13 pull-right">
								<div class="title">Response *</div>
								<pre>
<span class="p">{</span>
  <span class="s2">"debits"</span><span class="o">:</span> <span class="p">[</span>
    <span class="p">{</span>
      <span class="s2">"status"</span><span class="o">:</span> <span class="s2">"succeeded"</span>,
      <span class="s2">"currency"</span><span class="o">:</span> <span class="s2">"EUR"</span>,
      <span class="s2">"amount"</span><span class="o">:</span> <span class="s2">100</span>,
      <span class="s2">"href"</span><span class="o">:</span> <span class="s2">"/debits/WD72u8rXuaBjt3qdNjxNRG3L"</span>,
      <span class="s2">"appears_on_statement_as"</span><span class="o">:</span> <span class="s2">"BAL*example.com"</span>,
    <span class="p">}</span>
  <span class="p">]</span>
<span class="p">}</span></pre>
<div class="note">* Some parts of the response have been omitted for brevity.</div>
							</div>

						</div>
					</div>

					<div class="section-bg content clearfix">
						<div class="section-title section-title-no-width">
							<div class="title-wrapper span6">
								<span>{{page.metadata.pricing.title}}</span>
								<p>{{page.metadata.pricing.body}}</p>
								<p><a href="{{ page.metadata.pricing.linkUrl }}">{{page.metadata.pricing.linkText}}</a></p>
							</div>
							<div class="pricing span13 pull-right">
								<div class="title">{{page.metadata.pricing.imageTitle}}</div>
								<div class="pricing-image"></div>
							</div>
						</div>
					</div>

					<div class="section-bg feedback clearfix">
						<div class="send-email span8">
							<span class="title">{{page.metadata.feedback.title}}</span>
							<p class="title">{{page.metadata.feedback.body}}</p>
							<a class="light" href='mailto:{{page.metadata.feedback.email}}'>{{page.metadata.feedback.email}}</a>
						</div>
						<div class="notify-me span8 pull-right">
							<p class="title">{{page.metadata.feedback.subscribe}}</p>

							<div id="mc_embed_signup">
								<form action="http://balancedpayments.us2.list-manage.com/subscribe/post?u=30382d347d3689814ca424c89&amp;id=c8d0241856" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" data-id="c8d0241856" novalidate>
									<div class="mc-field-group">
										<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
										<input class="btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
									</div>
									<div id="mce-responses" class="clear">
										<div class="response" id="mce-error-response" style="display:none"></div>
										<div class="response" id="mce-success-response" style="display:none"></div>
									</div>
								    <div style="position: absolute; left: -5000px;">
								    	<input type="text" name="b_30382d347d3689814ca424c89_c8d0241856" value="">
							    	</div>
								</form>
							</div>
						</div>
					</div>

					<div class="section-bg content faqs clearfix">
						<div class="title">{{page.metadata.faqs.title}}</div>

							{% for faq in page.metadata.faqs.list %}
								<div class="faq span8">
									<p class="q">{{faq.q}}</p>
									<p class="a">{{faq.a}}</p>
								</div>
							{% endfor %}
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<script src="/static/js/mailchimp.min.js"></script>
<script type="text/javascript">$(balanced.international)</script>
{% endblock %}
