<!DOCTYPE HTML>
<html lang="en">
{%- include 'partials/header.html' -%}
<body class="layout-v4 {{ page.metadata.body_class }}">
	<div class="sidebar-child-menu-left">
	    {%- include 'partials/sidebar-menu.html' -%}
	</div>
    <div class="global-wrapper">
        <div class="page-wrapper">
            {%- include 'partials/page-header.html' -%}
            <div class="pjax-container">{% block body %}{% endblock %}</div>
            {%- include 'partials/footer.html' -%}
        </div>
    </div>
</body>
</html>