<!DOCTYPE HTML>
<html lang="en">
{%- include 'partials/header.html' -%}
<body class="layout-v4 {{ page.metadata.body_class }}">
  {%- include 'partials/sidebar.html' -%}
  <div class="global-wrapper">
    <div class="sidebar-menu-left">
      <div class="close-child-menu-left">
        <a>
          <i class="icon-navigation-close"></i>
        </a>
      </div>
      <ul>
        <li data-show="sidebar-child-menu-left-product">
          <a class="toggle-child-menu"><span class="arrow"></span> PRODUCT</a>
        </li>
        <li>
          <a href="/pricing">PRICING</a>
        </li>
        <li data-show="sidebar-child-menu-left-about">
          <a class="toggle-child-menu"><span class="arrow"></span> ABOUT</a>
        </li>
        <li class="try-dashboard">
          <a href="https://dashboard.balancedpayments.com/#/start">
            <i class="icon-dashboard"></i>
            TRY THE<br />DASHBOARD
          </a>
        </li>
      </ul>
    </div>
    <div class="page-wrapper">
      <div class="bg-default">
        <div class="container">
          <div class="row">
            <header class="site-header">
              <div class="span19">
                <div class="span6 no-margin-left">
                  <a href="/" class="logo"><img src="/images/homepage_logo-01-2x.png" alt="Balanced Logo" title="Balanced - Card processing, escrow, and payouts in one simple API"></a>
                </div>
                <div id="site-nav" class="span12">
                  <div class="nav-menu-wrapper">
                    <div id="docs-menu">
                      <a href="https://docs.balancedpayments.com">Docs</a>
                    </div>
                    <div id="help-menu">
                      <a href="https://support.balancedpayments.com">Help</a>
                    </div>
                    <div id="login-menu">
                      <a href="https://dashboard.balancedpayments.com">Sign in</a>
                    </div>
                  </div>
                </div>
              </div>
            </header>
          </div>
        </div>
      </div>

      {% block body %}{% endblock %}
      {%- include 'partials/footer.html' -%}
    </div>
  </div>

    <script type="text/javascript">
    $(document).ready(function() {
        $(".toggle-child-menu").click(function(e) {
            e.preventDefault();

            $("body, html").css("overflow-x", "hidden");

            $(".sidebar-menu-left ul li").removeClass("active");
            $(this).parent("li").addClass("active");

            var target = $(this).parent("li").attr("data-show");

            $(".sidebar-child-menu-left ul").not("#" + target).css("display", "none");
            $("#" + target).css("display", "block");
            $(".global-wrapper, .sidebar-child-menu-left").addClass("expanded");
        });

        $(".close-child-menu-left a").click(function(e) {
            e.preventDefault();

            $("body, html").css("overflow-x", "visible");
            $(".sidebar-menu-left ul li").removeClass("active");
            $(".global-wrapper, .sidebar-child-menu-left").removeClass("expanded");
        });
    });
    </script>
</body>
</html>