<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.metadata.title if page.metadata.title else name }}</title>
    <link rel="shortcut icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAAStJREFUWIXtlT1SwzAQRp+YHMAeGsrcIGlc4yukpDHODaBLF6dzB5yAkIYyOYJSu/INUtIw9g1MgZhhZJlITogbfZ12Pu2+0c+uaJqGIXU1aHUP4AGAkR4QQlDF0Rh4BWKgBl5CWWQuiRebyROQAgEggXmelAf913WdwFYVRyVYVnGUOhRPgQe1F5Vra/K2AKo4CoCpwXtvC9DhnS42k/FRgD9Un+rNk/JwFCCURc33nel6cwAweXcmY9cJzICVApHALJSFMYFJeVLuVI6f/c/A3OQV+qsUQtjW6SXbX3AxeQAP4AFa09BWH+/XGXCrlvubu8+sT55ejUgVX2rhlQ3EuRqRadq5TMuTAQLL2L8BmAaT9bA6B8AjsP61XquYs1qP8NIavA94AA/wBRJiTbdsTuB4AAAAAElFTkSuQmCC" type="image/x-icon">
    <script type="text/javascript">
      var _pageStartTime = (new Date()).getTime();
      var _gaq = _gaq || [];
    </script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/lib/html5shiv.js"></script>
    <![endif]-->
    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/root-v3.css">

    {% block head %}{% endblock %}

  </head>
  <body class="{{ page.metadata.body_class }}">

    <div class="sidebar-menu-left">
        <ul>
            <li>
                <a>PRODUCT</a>
            </li>
            <li>
                <a>CUSTOMERS</a>
            </li>
            <li>
                <a>PRICING</a>
            </li>
            <li>
                <a>ABOUT</a>
            </li>
            <li class="try-dashboard">
                <a>TRY THE DASHBOARD</a>
            </li>
        </ul>
    </div>

    <div class="global-wrapper">
        <div class="bg-default">
            <div class="container">
                <div class="row">
                    <header class="site-header">
                        <div class="span19">
                            <div class="span6 no-margin-left">
                                <a href="/" class="logo"><img src="/images/homepage_logo-01.png" alt="Balanced Logo" title="Balanced - Card processing, escrow, and payouts in one simple API"></a>
                            </div>
                            <div id="site-nav" class="span12">
                                <div class="nav-menu-wrapper">
                                    <div id="docs-menu">
                                        <a href="/docs/overview">Docs</a>
                                    </div>
                                    <div id="help-menu">
                                    <a href="/help">Help</a>
                                    </div>
                                    <div id="login-menu">
                                        <a href="https://dashboard.balancedpayments.com/#/login">Sign in</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                </div>
            </div>
        </div>

    {% block body %}{% endblock %}

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".carousel").carousel({
                interval: false
            });

            $(".how-it-works .step-boxes a").click(function(e) {
                var step = parseInt($(e.currentTarget.childNodes[1]).attr("data-step"));
                $(".carousel").carousel(step - 1);
            });

            $(".carousel").on("slid", function(e) {
                var step = parseInt($("#how-it-works-carousel .carousel-inner .item.active").attr("data-step"));
                $(".how-it-works .step-boxes .box").removeClass("box-active");
                $(".how-it-works .step-boxes [data-step=" + step + "]").addClass("box-active");
            });
        });
    </script>
</body>
</html>