<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.metadata.title if page.metadata.title else name }}</title>
    <link rel="shortcut icon" href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAAStJREFUWIXtlT1SwzAQRp+YHMAeGsrcIGlc4yukpDHODaBLF6dzB5yAkIYyOYJSu/INUtIw9g1MgZhhZJlITogbfZ12Pu2+0c+uaJqGIXU1aHUP4AGAkR4QQlDF0Rh4BWKgBl5CWWQuiRebyROQAgEggXmelAf913WdwFYVRyVYVnGUOhRPgQe1F5Vra/K2AKo4CoCpwXtvC9DhnS42k/FRgD9Un+rNk/JwFCCURc33nel6cwAweXcmY9cJzICVApHALJSFMYFJeVLuVI6f/c/A3OQV+qsUQtjW6SXbX3AxeQAP4AFa09BWH+/XGXCrlvubu8+sT55ejUgVX2rhlQ3EuRqRadq5TMuTAQLL2L8BmAaT9bA6B8AjsP61XquYs1qP8NIavA94AA/wBRJiTbdsTuB4AAAAAElFTkSuQmCC" type="image/x-icon">

    <script type="text/javascript">
      var _pageStartTime = (new Date()).getTime();
      var _gaq = _gaq || [];
    </script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/lib/html5shiv.js"></script>
    <![endif]-->

    <link href='//fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/root-v3.css">

    {% block head %}{% endblock %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>

  </head>
  <body class="{{ page.metadata.body_class }}">

     <div class="sidebar-child-menu-left">
        <ul>
            <li>
                <a href="https://www.balancedpayments.com/help#processing">Card Processsing</a>
            </li>
            <li>
                <a href="/ach_debits">ACH Debits</a>
            </li>
            <li>
                <a href="https://docs.balancedpayments.com/current/overview#funds-flow">Escrow</a>
            </li>
            <li>
                <a href="https://docs.balancedpayments.com/current/overview#holds">Authorization Holds</a>
            </li>
            <li>
                <a href="https://www.balancedpayments.com/help#q149">International</a>
            </li>
            <li>
                <a href="https://www.balancedpayments.com/help#chargebacks">Chargebacks</a>
            </li>
            <li>
                <a href="https://www.balancedpayments.com/help#security">Security</a>
            </li>
            <li>
                <a href="https://www.balancedpayments.com/help#q147">Compliance</a>
            </li>
            <li>
                <a href="https://www.balancedpayments.com/help#signup">Signup Process</a>
            </li>
            <li>
                <a href="https://docs.balancedpayments.com/current/overview.html#funds-flow">Payments Flow</a>
            </li>
        </ul>
    </div>

    <div class="global-wrapper">

        <div class="sidebar-menu-left">
            <div class="close-child-menu-left">
                <a>
                    <i class="icon-navigation-close"></i>
                </a>
            </div>
            <ul>
                <li>
                    <a class="toggle-child-menu" href="/products"><span class="arrow"></span> PRODUCT</a>
                </li>
                <!--
                <li>
                    <a href="/customers">CUSTOMERS</a>
                </li>
                !-->
                <li>
                    <a href="/pricing">PRICING</a>
                </li>
                <li>

                    <a href="/about"><span class="arrow"></span> ABOUT</a>
                </li>
                <li class="try-dashboard">
                    <a href="https://dashboard.balancedpayments.com/#/start">
                        <i class="icon-dashboard"></i>
                        TRY THE<br />DASHBOARD
                    </a>
                </li>
            </ul>
        </div>

        <div class="page-wrapper">
            <div class="bg-default">
                <div class="container">
                    <div class="row">
                        <header class="site-header">
                            <div class="span19">
                                <div class="span6 no-margin-left">
                                    <a href="/" class="logo"><img src="/images/homepage_logo-01-2x.png" alt="Balanced Logo" title="Balanced - Card processing, escrow, and payouts in one simple API"></a>
                                </div>
                                <div id="site-nav" class="span12">
                                    <div class="nav-menu-wrapper">
                                        <div id="docs-menu">
                                            <a href="https://docs.balancedpayments.com">Docs</a>
                                        </div>
                                        <div id="help-menu">
                                        <a href="https://support.balancedpayments.com">Help</a>
                                        </div>
                                        <div id="login-menu">
                                            <a href="https://dashboard.balancedpayments.com">Sign in</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
            </div>

            {% block body %}{% endblock %}

            <footer id="footer" class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="span5">
                            <div class="flogo">
                                <a href="/" target="_blank" class="img">Logo</a>
                            </div>
                            <span class="section-title copyright-notice">&copy; 2013 Balanced</span>
                        </div>
                        <div class="span8 offset3">
                            <span class="footer-link"><a href="/privacy">Privacy Policy</a></span>
                            <span class="footer-link"><a href="/terms">Terms of Use</a></span>
                            <!--
                            <span class="footer-link"><a href="#">Marketplace Agreement</a></span>
                            <span class="footer-link"><a href="#">Seller Agreement</a></span>
                            -->
                        </div>
                        <div class="span3">
                            <a href="https://twitter.com/balanced" target="_blank" class="icon"><i class="icon-twitter"></i></a>
                            <a href="http://quora.com/balanced" target="_blank" class="icon"><i class="icon-quora"></i></a>
                            <a href="https://github.com/balanced" target="_blank" class="icon"><i class="icon-github"></i></a>
                        </div>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <script type="text/javascript">
        _gaq.push(['_setAccount', 'UA-30733850-1']);
        _gaq.push(['_setDomainName', 'balancedpayments.com']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".toggle-child-menu").click(function(e) {
                e.preventDefault();
                $(this).parent("li").addClass("active");
                $(".global-wrapper, .sidebar-child-menu-left").addClass("expanded");
            });

            $(".close-child-menu-left a").click(function(e) {
                e.preventDefault();

                $(".sidebar-menu-left ul li a").parent("li").removeClass("active");
                $(".global-wrapper").removeClass("expanded");

                setTimeout(function() {
                     $(".sidebar-child-menu-left").removeClass("expanded");
                }, 400);
            });
        });
    </script>
</body>
</html>