<!DOCTYPE HTML>
<html lang="en">
{%- include 'partials/header.html' -%}
<body class="layout-v4 {{ page.metadata.body_class }}">
  {%- include 'partials/sidebar-hidden.html' -%}
  <div class="global-wrapper">
    {%- include 'partials/sidebar.html' -%}
    <div class="page-wrapper">
      {%- include 'partials/page-header.html' -%}
      {% block body %}{% endblock %}
      {%- include 'partials/footer.html' -%}
    </div>
  </div>

    <script type="text/javascript">
    $(function() {
        $(".toggle-child-menu").click(function(e) {
            e.preventDefault();

            $("body, html").css("overflow-x", "hidden");

            $(".sidebar-menu-left ul li").removeClass("active");
            $(this).parent("li").addClass("active");

            var target = $(this).parent("li").attr("data-show");

            $(".sidebar-child-menu-left ul").not("#" + target).css("display", "none");
            $("#" + target).css("display", "block");
            $(".global-wrapper, .sidebar-child-menu-left").addClass("expanded");
        });

        $(".close-child-menu-left a").click(function(e) {
            e.preventDefault();

            $("body, html").css("overflow-x", "visible");
            $(".sidebar-menu-left ul li").removeClass("active");
            $(".global-wrapper, .sidebar-child-menu-left").removeClass("expanded");
        });
    });
    </script>
</body>
</html>