{% extends 'layout-v4.html' %}

{% block body %}

<section class="open">
    <div class="container">
        <div class="row">
            <div class="span19">
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.openCompany.topText }}

                </p>
                <h1>{{ page.metadata.openCompany.mainText }}</h1>
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.openCompany.bottomText }}
                </p>
            </div>
        </div>
    </div>
</section>
<section class="innovation">
    <div class="container">
        <div class="row">
            <div class="span19">
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.innovation.topText }}
                </p>
                <h1>{{ page.metadata.innovation.mainText }}</h1>
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.innovation.bottomText }}
                </p>
            </div>
        </div>
    </div>
</section>
<section class="passion">
    <div class="container">
        <div class="row">
            <div class="span19">
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.passion.topText }}
                </p>
                <h1>{{ page.metadata.passion.mainText }}</h1>
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.passion.bottomText }}
                </p>
            </div>
        </div>
    </div>
</section>
<section class="commitment">
    <div class="container">
        <div class="row">
            <div class="span19">
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.commitment.topText }}
                </p>
                <h1>{{ page.metadata.commitment.mainText }}</h1>
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.commitment.bottomText }}
                </p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function() {

    });
</script>

{% endblock %}
