{% extends 'layout-v4.html' %}

{% block body %}

<div class="bg-default">
    <section class="open">
        <div class="container">
            <div class="row">
                <div class="span19">
                    <h1>Open Company</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="innovation">
        <div class="container">
            <div class="row">
                <div class="span19">
                    <h1>Open Company</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="passion">
        <div class="container">
            <div class="row">
                <div class="span19">
                    <h1>Open Company</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="commitment">
        <div class="container">
            <div class="row">
                <div class="span19">
                    <h1>Open Company</h1>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    $(document).ready(function() {

    });
</script>

{% endblock %}
