{% extends 'layout-v4.html' %}

{% block body %}

<section class="open feature-image">
    <div class="container">
        <div class="row">
            <div class="span19">
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.openCompany.topText }}

                </p>
                <h1>{{ page.metadata.openCompany.mainText }}</h1>
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.openCompany.bottomText }}
                </p>

                <img src="/images/open-company/open_company_balanced_logo-2x.png" alt="Balanced" />
            </div>
        </div>
    </div>
</section>
<section class="innovation feature-image">
    <div class="container">
        <div class="row">
            <div class="span19">
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.innovation.topText }}
                </p>
                <h1>{{ page.metadata.innovation.mainText }}</h1>
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.innovation.bottomText }}
                </p>
            </div>
        </div>
    </div>
</section>
<section class="passion feature-image">
    <div class="container">
        <div class="row">
            <div class="span19">
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.passion.topText }}
                </p>
                <h1>{{ page.metadata.passion.mainText }}</h1>
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.passion.bottomText }}
                </p>
            </div>
        </div>
    </div>
</section>
<section class="commitment feature-image">
    <div class="container">
        <div class="row">
            <div class="span19">
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.commitment.topText }}
                </p>
                <h1>{{ page.metadata.commitment.mainText }}</h1>
                <p>
                    <span class="diamond"></span>
                    {{ page.metadata.commitment.bottomText }}
                </p>
            </div>
        </div>
    </div>
</section>

<div class="bg-default">
    <div class="container">


        <div class="row">
            <div class="span19">
                <section class="why-be-an-open-company">
                    <div class="box-pad-top">
                        <div class="span5 no-margin-left">
                            <div class="section-title section-title-no-width">
                                <div class="title-wrapper">
                                    <span>{{page.metadata.whyBeAnOpenCompany.title}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="span1 spacer"></div>
                        <div class="span13 no-margin-left bg-white">
                            <div class="border-top text-box">
                                <div class="body3">{{page.metadata.whyBeAnOpenCompany.bodyHeader}}</div>
                                <p>{{page.metadata.whyBeAnOpenCompany.body.markdown()}}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="span19">
                <section class="the-challenges">
                    <div class="span5 no-margin-left">
                        <div class="section-title section-title-no-width">
                            <div class="title-wrapper">
                                <span>{{page.metadata.theChallenges.title}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="span1 spacer"></div>
                    <div class="span13 no-margin-left bg-white">
                        <div class="border-top text-box">
                            <div class="body3">{{page.metadata.theChallenges.bodyHeader}}</div>
                            <p>{{page.metadata.theChallenges.body.markdown()}}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="span19">
                <section class="the-rewards">
                    <div class="span5 no-margin-left">
                        <div class="section-title section-title-no-width">
                            <div class="title-wrapper">
                                <span>{{page.metadata.theRewards.title}}</span>
                            </div>

                            <div class="callout">
                                    <img src="https://0.gravatar.com/avatar/31794e668233b230d25e13687925045c?d=https%3A%2F%2Fidenticons.github.com%2Fed1d2637b0856e369c5712ae7f6e5bb5.png" class="img-circle" alt="mjallday" />

                                    <a href="https://github.com/balanced/balanced-dashboard/issues">
                                        <div class="gray-box">
                                            <div class="top-copy">
                                                <i class="icon-github"></i>
                                                <p>{{page.metadata.theRewards.calloutUser}}</p>
                                                <p>{{page.metadata.theRewards.calloutSubtitle}}</p>
                                            </div>
                                            <div class="bottom-copy">
                                                <p>{{page.metadata.theRewards.calloutTitle}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="span1 spacer"></div>
                    <div class="span13 no-margin-left bg-white">
                        <div class="border-top text-box">
                            <div class="body3">{{page.metadata.theRewards.bodyHeader}}</div>
                            <p>{{page.metadata.theRewards.body.markdown()}}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="span19">
                <section class="community">
                    <div class="span5 no-margin-left">
                        <div class="callout">
                                <img src="https://0.gravatar.com/avatar/f914ba0563584642b9dfaaf56c628688?d=https%3A%2F%2Fidenticons.github.com%2F0507cd147bbb0783419092b35214be0a.png" class="img-circle" alt="dmdj03" />

                                <a href="https://github.com/balanced/balanced-dashboard/issues">
                                    <div class="gray-box">
                                        <div class="top-copy">
                                            <i class="icon-github"></i>
                                            <p>{{page.metadata.community.calloutUser}}</p>
                                            <p>{{page.metadata.community.calloutSubtitle}}</p>
                                        </div>
                                        <div class="bottom-copy">
                                            <p>{{page.metadata.community.calloutTitle}}</p>
                                        </div>
                                    </div>
                                </a>
                            </a>
                        </div>
                    </div>
                    <div class="span1 spacer"></div>
                    <div class="span13 no-margin-left bg-white">
                        <div class="border-top text-box">
                            <div class="body3">{{page.metadata.community.bodyHeader}}</div>
                            <p>{{page.metadata.community.body.markdown()}}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="span19">
                <section class="support">
                    <div class="span5 no-margin-left">
                        <div class="callout">
                                <img src="https://2.gravatar.com/avatar/d949c1200c1b511e09d622a142070027?d=https%3A%2F%2Fidenticons.github.com%2F9951eeb199b196abb1e7f91ba1a690bc.png" class="img-circle" alt="joeyAghion" />

                                <a href="http://www.quora.com/Balanced/Why-do-you-use-Balanced-for-payments">
                                    <div class="gray-box">
                                        <div class="top-copy">
                                            <i class="icon-quora"></i>
                                            <p>{{page.metadata.support.calloutUser}}</p>
                                            <p>{{page.metadata.support.calloutSubtitle}}</p>
                                        </div>
                                        <div class="bottom-copy">
                                            <p>{{page.metadata.support.calloutTitle}}</p>
                                        </div>
                                    </div>
                                </a>
                            </a>
                        </div>
                    </div>
                    <div class="span1 spacer"></div>
                    <div class="span13 no-margin-left bg-white">
                        <div class="border-top text-box">
                            <div class="body3">{{page.metadata.support.bodyHeader}}</div>
                            <p>{{page.metadata.support.body.markdown()}}</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="span19">
                <section class="octotales-video">
                    <div class="span5 no-margin-left">
                        <div class="icons-callout">
                            <div class="icons">
                                <i class="icon-github"></i> <i class="icon-pl-sign"></i> <img src="images/balanced_logo_3dots.png" alt="Balanced" /><i class="icon-arrow-triangle-forward"></i>
                            </div>
                            <div class="body3">{{page.metadata.balancedUsesGithub.body}}</div>
                        </div>
                    </div>
                    <div class="span1 spacer"></div>
                    <div class="span13 no-margin-left box-pad-bottom">
                        <div class="gray-bar">
                            <p>COMMUNITY CHANNELS</p>
                            <a href="http://webchat.freenode.net/?channels=balanced" class="icon"><i class="icon-irc-chat"></i> <span>IRC</span></a>
                            <a href="http://quora.com/balanced" class="icon"><i class="icon-quora"></i> <span>QUORA</span></a>
                            <a href="https://github.com/balanced" class="icon"><i class="icon-github"></i> <span>GITHUB</span></a>
                        </div>
                        <iframe width="570" height="425" src="//www.youtube.com/embed/ukKd8W3Bvo0?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>

<div class="bg-curry-yellow">
    <div class="container">
        <div class="row">
            <div class="span19">
                <section class="open-source-contributions">
                    <div class="med-top-padding med-bottom-padding">
                        <div class="span5 no-margin-left">
                            <div class="section-title section-title-no-width">
                                <div class="title-wrapper">
                                    <span>{{page.metadata.openSourceContributions.title}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="span1 spacer"></div>
                        <div class="span13 no-margin-left">
                            <div class="border-top text-box">
                                <div class="body3">{{page.metadata.openSourceContributions.bodyHeader}}</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="bg-default">
    <div class="container">
        <div class="row">
            <section class="github">
                <div class="span19 xlarge-bottom-margin">
                    <div class="row">
                        <div class="span6 contributors">
                            <div class="counts">
                                <h1><img class="loading" src="images/loading.gif" alt="loading" /></h1>
                                <h3>{{page.metadata.github.contributors}}</h3>
                            </div>
                            <div class="contributors-container">
                                <div class="row">
                                    <div class="span4">
                                        <div class="contributor contributor-template">
                                            <a href="#">
                                                <img src="images/balanced_logo_3dots.png" class="avatar img-circle" alt="avatar" />
                                                <p class="user"></p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span11 bg-white repos">
                            <div class="counts">
                                <h1><img class="loading" src="images/loading.gif" alt="loading" /></h1>
                                <h3>{{page.metadata.github.publicRepos}}</h3>
                            </div>
                            <div class="head">
                                <div class="row">
                                    <div class="span7">
                                        <p class="project">{{page.metadata.github.project}}</p>
                                    </div>
                                    <div class="span4">
                                        <p class="text-right view-all">
                                            <a href="https://github.com/balanced">{{page.metadata.github.viewAll}}</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="repos-container">
                                <div class="repo repo-template">
                                    <div class="row">
                                        <div class="span8">
                                            <p class="name"><a href="#"></a></p>
                                            <p class="description"></p>
                                        </div>
                                        <div class="span3">
                                            <p class="lang text-right"></p>
                                            <p class="stars text-right"><i class="icon-github-star"></i><span></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="foot med-bottom-margin ">
                                <div class="row">
                                    <div class="span4 offset7">
                                        <p class="text-right view-all">
                                            <a href="https://github.com/balanced">{{page.metadata.github.viewAll}}</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="span19">
                <section class="try-the-dashboard">
                    <div class="center">
                        <p>{{page.metadata.tryTheDashboard.body}}</p>
                        <a href="https://dashboard.balancedpayments.com/#/start" class="btn btn-pal">{{page.metadata.tryTheDashboard.button}}</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var totalRepos = 0;
    var completedContributorRequests = 0;

    $(document).ready(function() {
        var onCompleteRepos = function(response) {
            if(response.status === 200) {
                var repos = response.responseJSON;
                repos = repos.sort(function(a, b) {
                    return b.watchers_count - a.watchers_count;
                });

                for(var i = 0; i < repos.length; i++) {
                    // Don't include forks
                    if(repos[i].fork) {
                        continue;
                    }

                    totalRepos++;

                    // Fire off ajax request to get contributors
                    ajaxOptions.complete = onCompleteContributors;
                    jQuery.ajax(repos[i].contributors_url, ajaxOptions);

                    var $template = $("section.github .repos .repos-container .repo-template").clone().removeClass("repo-template");

                    if(i === 0) {
                        $template.addClass("first");
                    }

                    $template.find("p.name a").attr("href", repos[i].html_url).html(repos[i].name);
                    $template.find("p.description").html(repos[i].description);
                    $template.find("p.lang").html(repos[i].language);
                    $template.find("p.stars span").html(repos[i].watchers_count);

                    $("section.github .repos .repos-container").append($template);
                }

                $("section.github .repos .loading").css("display", "none");
                $("section.github .repos .counts h1").html(totalRepos);
            }
        }

        var onCompleteContributors = function(response) {
            completedContributorRequests++;

            if(response.status === 200) {
                var contributors = response.responseJSON;

                for(var i = 0; i < contributors.length; i++) {
                    // Don't add the same user more than once
                    if($("section.github .contributors .contributors-container #" + contributors[i].id).length === 0) {
                        var userId = contributors[i].id;
                        var login = contributors[i].login;
                        var url = contributors[i].html_url;
                        var avatarUrl = contributors[i].avatar_url;

                        var $template = $("section.github .contributors .contributors-container .contributor-template").clone().removeClass("contributor-template");

                        $template.attr("id", userId);
                        $template.find("a").attr("href", url);
                        $template.find("img.avatar").attr("src", avatarUrl).attr("alt", login);
                        $template.find("p.user").html(login);

                        $("section.github .contributors .contributors-container").append($template);
                    }
                }
            }

            if(completedContributorRequests === totalRepos) {
                 var totalContributors = $("section.github .contributors .contributors-container .contributor").not(".contributor-template").length;
                 $("section.github .contributors .loading").css("display", "none");
                 $("section.github .contributors .counts h1").html(totalContributors);
            }
        }

        var ajaxOptions = {
            crossDomain: true,
            dataType: 'json',
            timeout: 5000,
            data: {
                per_page: 100
            },
            headers: {
                'Authorization': 'token 5db390dd3591d5f7d3646ce5cf62245328fe4ee3'
            }
        };

        ajaxOptions.complete = onCompleteRepos;
        jQuery.ajax("https://api.github.com/orgs/balanced/repos", ajaxOptions);
    });
</script>

{% endblock %}
