{% extends 'layout.html' %}

{% block body %}

<div class="bg-default">
  <section class="page-header large-bottom-margin">
    <div class="background-image"></div>
    <div class="title-image"></div>
  </section>

  <div class="container">
    <div class="row">
      <div class="span19">
        <div class="summary row large-bottom-margin">
          <div class="page-subtitle clearfix">
            <div class="span16">
              <span>{{page.metadata.subtitle.heading}}</span>
            </div>
          </div>

          <div class="summary-text">
              <p class="page-summary span13">{{page.metadata.subtitle.description}}</p>
          </div>
        </div>

        <section>
          <div class="integration-flow content clearfix">
              <div class="left">
                <div class="header">
                  <h3>{{page.metadata.withProcessing.title}}</h3>
                  <p>{{page.metadata.withProcessing.body}}</p>
                  <p><a href="{{page.metadata.withProcessing.linkUrl}}">{{page.metadata.withProcessing.linkText}}</a></p>
                </div>
                  <div class="process">
                      <div class="graphic"></div>
                  </div>
              </div>
              <div class="right">
                <div class="header">
                  <h3>{{page.metadata.payoutsOnly.title}}</h3>
                  <p>{{page.metadata.payoutsOnly.body}}</p>
                </div>
                  <div class="process">
                      <div class="graphic"></div>
                  </div>
              </div>
          </div>

          <div class="payment-schedule content clearfix">
            <div class="section-title section-title-no-width">
              <div class="title-wrapper span6">
                <span>{{page.metadata.paymentSchedule.title}}</span>
                <p>{{page.metadata.paymentSchedule.body}}</p>
                <p><a href="{{page.metadata.paymentSchedule.linkUrl}}">{{page.metadata.paymentSchedule.linkText}}</a></p>
              </div>
              <div class="folded-box span13 pull-right">
                <div class="payouts-calendar"></div>
                <div class="payouts-time span6">
                  <div class="sl-sb">{{page.metadata.submissionTimes.days}}</div>
                  <div class="time">{{page.metadata.submissionTimes.time}}</div>
                  <div class="sl-sb">{{page.metadata.submissionTimes.timezone}}</div>
                </div>
              </div>
            </div>
          </div>

          <div class="content clearfix collecting-bank-account-info">
            <div class="section-title section-title-no-width">
              <div class="title-wrapper span6">
                <span class="sl-sb">{{page.metadata.collectingBankInfo.title}}</span>
                <p>{{page.metadata.collectingBankInfo.body}}</p>
              </div>

              <div class="folded-box span13 pull-right">
                <h3 class="title">{{page.metadata.bankAcctInfo.title}}</h3>
                <p class="subtitle">{{page.metadata.bankAcctInfo.subtitle}}</p>

                <form class="clearfix">
                  <p class="sl-note span4">{{page.metadata.bankAcctInfo.note}}</p>
                  <div class="span6 offset4">
                    {% for item in page.metadata.bankAcctInfo.list %}
                      <div class="control-group {{item.classes}}">
                        <label>{{item.title}}</label>

                        {% if item.select %}
                          <select {{item.attr}}>
                            <option value="{{item.placeholder}}">{{item.placeholder}}</option>
                          </select>
                        {% else %}
                          <input type="text" value="{{item.placeholder}}" {{item.attr}} />
                        {% endif %}

                        <i class="icon-checkmark non-interactive"></i>

                        {% if item.bank %}
                          <div class="bank-name"><span>{{item.bank}}</span></div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="content clearfix">
            <div class="section-title section-title-no-width">
              <div class="title-wrapper span6">
                <span>{{page.metadata.payoutStatus.title}}</span>
                <p>{{page.metadata.payoutStatus.body}}</p>
              </div>
              <div class="span13 pull-right">
                <div class="graphic payout-status"></div>
                <div class="legend">
                  {% for item in page.metadata.payoutStatus.legend %}
                    <p><span class="key">{{item.key}}:</span>{{item.value}}</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="content clearfix">
            <div class="section-title section-title-no-width">
              <div class="title-wrapper span6">
                <span>{{page.metadata.reversingAPayout.title}}</span>
                <p>{{page.metadata.reversingAPayout.body}}</p>
              </div>
              <div class="span13 pull-right">
                <div class="graphic reversing-a-payout"></div>
                <div class="legend">
                  {% for item in page.metadata.reversingAPayout.legend %}
                    <p><span class="key">{{item.key}}:</span>{{item.value}}</p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="content clearfix">
            <div class="section-title section-title-no-width">
              <div class="title-wrapper span6">
                <span>{{page.metadata.bankStatementDescriptor.title}}</span>
                <p>{{page.metadata.bankStatementDescriptor.body}}</p>
                <p><a href="{{page.metadata.bankStatementDescriptor.learnLinkUrl}}">{{page.metadata.bankStatementDescriptor.learnLink}}</a></p>
              </div>
              <div class="bank-statement-descriptor folded-box span13 pull-right">
                <div class="title">Bank account statement</div>
                <div class="card-info">
                  <div>Jessica Lauren</div>
                  <div>xxxxxxx4685</div>
                </div>
                <table class="table table-condensed">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Description</th>
                      <th class="amount-header">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Oct 22</td>
                    <td>ZUPPA 741486 ABaker</td>
                    <td class="amount">$ 150.00</td>
                  </tr>
                  <tr>
                    <td>Oct 17</td>
                    <td>ZUPPA 741308 TWard</td>
                    <td class="amount">$ 173.00</td>
                  </tr>
                  <tr>
                    <td>Oct 10</td>
                    <td>ZUPPA 741239 LMoore</td>
                    <td class="amount">$ 128.00</td>
                  </tr>
                  </tbody>
                </table>
                <p class="sl-note">{{page.metadata.bankStatementDescriptor.limit}}</p>
              </div>
            </div>
          </div>

          <div class="pricing content clearfix">
            <div class="section-title section-title-no-width">
              <div class="title-wrapper pull-left">
                <span>{{page.metadata.payoutsPricing.title}}</span>
                <div class="section-icon"><i class="icon-{{page.metadata.payoutsPricing.image}} non-interactive"></i></div>
              </div>
            </div>
            <div class="span13 pull-right">
              <div class="panel">
                <div class="panel-heading main-price">

                  {% if page.metadata.payoutsPricing.percent %}
                  <span class="percent">{{page.metadata.payoutsPricing.percent}}</span>
                  <span class="plus">+</span>
                  {% endif %}

                  {% if page.metadata.payoutsPricing.cent %}
                  <span class="cent">{{page.metadata.payoutsPricing.cent}}</span>
                  {% endif %}

                  {% if page.metadata.payoutsPricing.dollar %}
                  <span class="dollar">{{page.metadata.payoutsPricing.dollar}}</span>
                  {% endif %}

                  <span class="per">per transaction</span>
                </div>

                <ul class="list-group">
                  {% for item in page.metadata.payoutsPricing.list %}
                  <li class="list-group-item">
                    <span>{{item.name}}</span>
                    {% if item.note %}
                      <span class="note">({{item.note}})</span>
                    {% endif %}
                    <span class="pull-right">{{item.price}}</span>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </section>
        <div class="bg-white">
          <div class="container">
            <div class="row">
              <div class="span19">
                <section class="try-the-dashboard">
                  <div class="center">
                    <p>{{page.metadata.tryTheDashboard.body}}</p>
                    <a href="{{env.helpers.link('/get-started')}}" class="btn special">{{page.metadata.tryTheDashboard.button}}</a>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">$(balanced.payouts)</script>
{% endblock %}
