{% extends 'layout-v3.html' %}

{% block body %}
<header class="row page-title">
  <div class="span18 offset1">
    <h1>{{page.metadata.pageTitle}}</h1>
  </div>
</header>

<div class="row page-subtitle">
  <div class="span18 offset1">
    <span class="">{{ page.metadata.subtitle.heading }}</span>
  </div>
</div>

<section class="row card-processing">
  <div class="span20 section-bg">
    <div class="row">
      <div class="span6 offset1 section-title">
        <div class="title-wrapper">
          <span>{{page.metadata.cardProcessing.title}}</span>
          <div class="title-icon"></div>
        </div>
      </div>

      <div class="span13 rate-panels">
        <div class="rate-panel main-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.cardProcessing.chargingBuyers}}</span>
            <div class="rate-image charging-buyers"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel tr-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.cardProcessing.authorizationHold}}</span>
            <div class="rate-image authorization-hold"></div>
          </div>
        </div>

        <div class="rate-panel secondary-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.cardProcessing.chargeback}}</span>
            <div class="rate-image chargeback"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel bot-mid-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.cardProcessing.refund}}</span>
            <div class="rate-image refund"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.cardProcessing.failure}}</span>
            <div class="rate-image failure"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row ach-debits">
  <div class="span20 section-bg">
    <div class="row">
      <div class="span6 offset1 section-title">
        <div class="title-wrapper">
          <span>{{page.metadata.achDebits.title}}</span>
          <div class="title-icon"></div>
        </div>
      </div>

      <div class="span13 rate-panels">
        <div class="rate-panel main-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.achDebits.chargingBuyers}}</span>
            <div class="rate-image charging-buyers"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel tr-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.achDebits.microDepositVerification}}</span>
            <div class="rate-image verification"></div>
          </div>
        </div>

        <div class="rate-panel secondary-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.achDebits.chargeback}}</span>
            <div class="rate-image chargeback"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel bot-mid-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.achDebits.refund}}</span>
            <div class="rate-image refund"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.achDebits.failure}}</span>
            <div class="rate-image failure"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row payouts">
  <div class="span20 section-bg">
    <div class="row">
      <div class="span6 offset1 section-title">
        <div class="title-wrapper">
          <span>{{page.metadata.payouts.title}}</span>
          <div class="title-icon"></div>
        </div>
      </div>

      <div class="span13 rate-panels">
        <div class="rate-panel main-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.payouts.payingSellers}}</span>
            <div class="rate-image paying-sellers"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel tr-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.payouts.payingYourAccount}}</span>
            <div class="rate-image paying-your-account"></div>
          </div>
        </div>

        <div class="rate-panel secondary-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.payouts.reversal}}</span>
            <div class="rate-image reversal"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel bot-mid-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.payouts.failure}}</span>
            <div class="rate-image failure"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.payouts.preloadingEscrow}}</span>
            <div class="rate-image preloading-escrow"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row no-additional-fees half-height">
  <div class="span20 section-bg">
    <div class="row">
      <div class="span6 offset1 section-title">
        <div class="title-wrapper">
          <span>{{page.metadata.noAdditionalFees.title}}</span>
        </div>
      </div>

      <div class="span13 rate-panels">
        <div class="rate-panel secondary-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.noAdditionalFees.batch}}</span>
            <div class="rate-image batch"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel bot-mid-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.noAdditionalFees.setup}}</span>
            <div class="rate-image setup"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.noAdditionalFees.monthly}}</span>
            <div class="rate-image monthly"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row volume-discounts half-height">
  <div class="span20 section-bg">
    <div class="row">
      <div class="span6 offset1 section-title">
        <div class="title-wrapper">
          <span>{{page.metadata.volumeDiscounts.title}}</span>

          <p class="section-subtitle">{{page.metadata.volumeDiscounts.subtitle}}</p>
        </div>
      </div>

      <div class="span13 rate-panels">
        <div class="rate-panel secondary-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.volumeDiscounts.first100k}}</span>
            <div class="rate-image first-100k"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel bot-mid-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.volumeDiscounts.next400k}}</span>
            <div class="rate-image next-400k"></div>
          </div>
        </div>
        <div class="rate-panel secondary-rate-panel">
          <div class="panel-content">
            <span>{{page.metadata.volumeDiscounts.above500k}}</span>
            <div class="rate-image above-500k"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="row calculator">
  <div class="span13 offset7">
    <span class="calc-title">{{page.metadata.calculateYourRate.title}}</span>
    <div class="bg">
      <form class="form-horizontal">
        <div class="control-group">
          <label for="estimatedVolume" class="control-label">{{page.metadata.calculateYourRate.volumeLabel}}</label>
          <div class="controls">
            <input name="estimatedVolume" value="800,000" />
            <span class="currency-prepend">$</span>
          </div>
        </div>
        <div class="control-group effective-rate">
          <label class="control-label">{{page.metadata.calculateYourRate.effectiveRateLabel}}</label>
          <div class="controls">
            <span class="effective-rate-value">2.61% + 30$</span>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}
