{% extends 'layout.html' %}

{% block body %}

<div class="bg-default">
    <div class="container">
        <div class="row">
            <div class="span19">
                <header class="row">
                    <div class="span19 page-title">
                        <h1>{{page.metadata.pageTitle}}</h1>
                    </div>
                    <div class="large-bottom-margin">
                        <div class="summary-text">
                            <p class="page-summary">{{page.metadata.subtitle.heading}}</p>
                        </div>
                    </div>
                </header>

                <section>
                  {% for feature in page.metadata.features %}
                  <div class="content clearfix">
                    <div class="section-title section-title-no-width">
                      <div class="title-wrapper span6">
                        <span>{{feature.title}}</span>
                        <div class="section-icon"><i class="icon-{{feature.image}}"></i></div>
                      </div>
                    </div>
                    <div class="pricing span13 pull-right">
                      <div class="panel">
                        <div class="panel-heading main-price">

                          {% if feature.percent %}
                          <span class="percent">{{feature.percent}}</span>
                          <span class="plus">+</span>
                          {% endif %}

                          {% if feature.cent %}
                          <span class="cent">{{feature.cent}}</span>
                          {% endif %}

                          {% if feature.dollar %}
                          <span class="dollar">{{feature.dollar}}</span>
                          {% endif %}

                          <span class="per">per transaction {% if feature.image == 'ach-debit' %}($5 cap){% endif %}</span>
                        </div>

                        {% if feature.list %}
                        <ul class="list-group">

                          {% for item in feature.list %}
                          <li class="list-group-item">
                            <span>{{item.name}}</span>
                            {% if item.note %}
                              <span class="note">({{item.note}})</span>
                            {% endif %}
                            <span class="pull-right">{{item.price}}</span>
                          </li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </div>

                      {% if feature.image == 'card-processing' %}
                      <div class="card-icons">
                        <i class="icon-american-express"></i>
                        <i class="icon-visa"></i>
                        <i class="icon-mastercard"></i>
                        <i class="icon-discover"></i>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}

                  <div class="content clearfix">
                    <div class="section-title section-title-no-width">
                      <div class="title-wrapper span6">
                        <span>{{page.metadata.noAdditionalFees.title}}</span>
                      </div>
                    </div>
                    <div class="pricing span13 pull-right">
                      <div class="panel main-price">
                        <ul class="list-group">
                          {% for item in page.metadata.noAdditionalFees.list %}
                          <li class="horizontal-list-group-item">
                            <h3>{{item.name}}</h3>
                            <span class="dollar">{{item.price}}</span>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="content clearfix">
                    <div class="section-title section-title-no-width">
                      <div class="title-wrapper span6">
                        <span>{{page.metadata.discounts.title}}</span>
                        <p>{{page.metadata.discounts.subtitle}}</p>
                      </div>
                    </div>
                    <div class="pricing span13 pull-right">
                      <div class="panel">
                        <ul class="list-group">
                          {% for item in page.metadata.discounts.list %}
                          <li class="list-group-item">
                            <span>{{item.name}}</span>
                            <span class="pull-right">{{item.price}}</span>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">$(balanced.pricing)</script>
{% endblock %}
