{% extends 'layout.html' %}

{% block head %}
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/css/pygments.css">
<link rel="stylesheet" href="/static/css/root3.css">
<link rel="stylesheet" href="/static/css/root5.css">
<style> p { font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif; } </style>
{% endblock %}

{% block body %}
<div style="width: 960px; margin: auto">
<section id="h-top">
  <div id="logo">
    <a href="/"><img src="/static/icons/hp/3/balanced_logo.png" alt="Balanced Homepage Logo"></a>
  </div>
</section>
<section id="h-words">
  <h2 class="{{ page.metadata.icon_class }}" style="color: #E7A614">{{ page.metadata.heading }}</h2>
  <section class="booger">
    {{ page.html }}
  </section>
</section>
</div>
{% endblock %}
